<template>
  <div>
    <div class="main-wrapper active">
      <div class="main-wrapper-top">
        <div class="left">
          1. Тип заказа
        </div>
        <div class="arrow">
          <img src="/images/arrow.png" alt="">
        </div>
      </div>
      <div class="main step1">
        <div class="toggle">
          <label
            @click="toggleBill(false)"
            :class="{ active: isBill == false }"
          >
            У меня нет накладной
            <input type="radio" name="checkout_step1_toggle" />
          </label>
          <label @click="toggleBill(true)" :class="{ active: isBill == true }">
            У меня есть накладная
            <input required type="radio" name="checkout_step1_toggle" />
          </label>
        </div>
        <div v-if="isBill" class="bill">
          <label> Номер накладной </label>
          <input
            type="text"
            @change="setBill($event.target.value)"
            placeholder="00-00000000"
          />
        </div>
        <div class="error" v-for="error in errors" :key="error.id">
          {{ error }}
        </div>
      </div>
    </div>
    <div @click="validation()" class="main-wrapper disabled">
      <div class="main-wrapper-top">
        <div class="left">
          2. Получатель
        </div>
        <div class="arrow">
          <img style="transform: rotate(180deg);" src="/images/arrow.png" alt="">
        </div>
      </div>
    </div>
    <div style="opacity: 0.5" class="main-wrapper disabled">
      <div class="main-wrapper-top">
        <div class="left">
          3. Доставка
        </div>
        <div class="arrow">
          <img style="transform: rotate(180deg);" src="/images/arrow.png" alt="">
        </div>
      </div>
    </div>
    <div style="opacity: 0.5" class="main-wrapper disabled">
      <div class="main-wrapper-top">
        <div class="left">
          4. Оплата
        </div>
        <div class="arrow">
          <img style="transform: rotate(180deg);" src="/images/arrow.png" alt="">
        </div>
      </div>
    </div>
    <div @click="validation" class="next">Далее</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isBill: false,
      bill: null,
      errors: [],
    }
  },
  methods: {
    toggleBill(status) {
      this.isBill = status;
    },
    setBill(bill) {
      this.bill = bill;
      this.$store.commit('setOrderBill', bill);
    },
    validation() {
      if (this.isBill === false) {
        this.$router.push({ 'name': 'CheckoutUser' });
      } else if (this.isBill === true) {
        if (this.bill == null) {
          this.errors.push('Поле не должно быть пустым')
        } else if (this.bill.length < 6) {
          this.errors.push('В этом поле нужно минимум 6 символом')
        } else {
          this.$router.push({ 'name': 'CheckoutUser' });

        }
      }
    },
  }

}
</script>

<style scoped>
.error {
  color: #df0000;
  padding-left: 159px;
  font-size: 12px;
  margin-top: 10px;
}
.checkout .step1 {
  padding: 36px;
  background: #fff;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.checkout .step1 .toggle {
  padding: 8px;
  background: #f8f8f8;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout .step1 .toggle label {
  width: 50%;
  height: 40px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.checkout .step1 .toggle label.active {
  background: #fff;
}
.checkout .step1 .toggle label input {
  -webkit-appearance: none;
  position: absolute;
}
.checkout .step1 .bill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 36px;
}
.checkout .step1 .bill label {
  font-size: 16px;
  color: #000;
}
.checkout .step1 .bill input {
  background: #f6f6f6;
  border: 1px solid #ddd;
  padding: 0px 14px;
  height: 42px;
  width: 530px;
  color: #474747;
}
.checkout .step1 .bill input::placeholder {
  color: #a6a6a6;
}
@media screen and (max-width: 1200px) {
  .checkout .step1 .bill input {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .checkout .step1 {
    padding: 0;
    box-shadow: none;
  }
  .main-wrapper-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
  }
  .main-wrapper {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
    padding: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
  .main-wrapper.active {
    padding-top: 0;
  }
  .main-wrapper.disabled {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-wrapper:nth-last-child(1) {
    margin-bottom: 0;
  }
  .checkout .step1 .toggle label {
    font-size: 12px;
    font-weight: 400;
  }
  .main-wrapper-top .right {
    display: block;
  }
  .checkout .step1 .bill {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #000;
  }
  .checkout .step1 .bill label {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .checkout .step1 .bill input {
    width: 100%;
  }
  .error {
    width: 100%;
    padding-left: 0;
  }
}

@media screen and (max-width: 340px) {
  .checkout .step1 .toggle label {
    font-size: 10px;
  }
}
</style>