<template>
  <div>
    <div style="opacity: 0.75" class="main-wrapper disabled">
      <div class="main-wrapper-top">
        <div class="left">
          1. Тип заказа <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="2.20605"
                      y="9.34108"
                      width="7.39163"
                      height="2.46388"
                      transform="rotate(45 2.20605 9.34108)"
                      fill="#00AB4F"
                    />
                    <rect
                      x="3.94824"
                      y="14.5678"
                      width="14.7833"
                      height="2.46388"
                      transform="rotate(-45 3.94824 14.5678)"
                      fill="#00AB4F"
                    />
                  </svg>
        </div>
        <div class="arrow">
          <img style="transform: rotate(180deg);" src="/images/arrow.png" alt="">
        </div>
      </div>
    </div>
    <div style="opacity: 0.75" class="main-wrapper disabled">
      <div class="main-wrapper-top">
        <div class="left">
          2. Получатель <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="2.20605"
                      y="9.34108"
                      width="7.39163"
                      height="2.46388"
                      transform="rotate(45 2.20605 9.34108)"
                      fill="#00AB4F"
                    />
                    <rect
                      x="3.94824"
                      y="14.5678"
                      width="14.7833"
                      height="2.46388"
                      transform="rotate(-45 3.94824 14.5678)"
                      fill="#00AB4F"
                    />
                  </svg>
        </div>
        <div class="arrow">
          <img style="transform: rotate(180deg);" src="/images/arrow.png" alt="">
        </div>
      </div>
    </div>
    <div class="main-wrapper active">
      <div class="main-wrapper-top">
        <div class="left">
          3. Доставка
        </div>
        <div class="arrow">
          <img src="/images/arrow.png" alt="">
        </div>
      </div>
    <div class="main step3">
      <div class="saved-delivery">
        <div class="title">Сохранненые доставки</div>
        <div class="wrapper">
          <div
            v-for="(delivery, index) in allDeliveries"
            :key="delivery.id"
            @click="setDelivery(delivery, index)"
            class="item"
            :class="{ active: activeDelivery == index }"
          >
            <div class="top">
              <div class="type">
                <span>{{ delivery.type }}</span>
                Доставка до ПВЗ
              </div>
              <div class="city">{{ delivery.city }}</div>
            </div>
            <div class="bottom">
              <div class="address">
                {{ delivery.adress }}
              </div>
            </div>
          </div>
        </div>
        <div v-for="error in errors" :key="error.id" class="error">
          {{ error }}
        </div>
      </div>
      <div v-if="!newDelivery" @click="toggleNewDelivery" class="add-delivery">
        Добавить доставку
      </div>
      <NewDelivery v-if="newDelivery" />
    </div>
    </div>
    <div @click="validation()" class="main-wrapper disabled">
      <div class="main-wrapper-top">
        <div class="left">
          4. Оплата
        </div>
        <div class="arrow">
          <img style="transform: rotate(180deg);" src="/images/arrow.png" alt="">
        </div>
      </div>
    </div>
    <div @click="validation" class="next">Далее</div>
  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex';
import NewDelivery from './../../components/NewDelivery';

export default {
  data() {
    return {
      activeDelivery: -1,
      errors: [],
      newDelivery: false,
      cities: [],
    }
  },
  components: {
    NewDelivery
  },
  computed: {
    ...mapGetters(['allDeliveries']),
  },
  methods: {
    ...mapActions(['fetchDeliveries']),
    getCities() {
      let allCities;
      axios
        .get('/api/new-delivery/get-cities')
        .then((response) => {
          allCities = response.data;
        });
    },
    setDelivery(delivery, index) {
      this.activeDelivery = index;
      this.$store.commit('setOrderDelivery', delivery.id)
    },
    toggleNewDelivery() {
      this.newDelivery = true;
    },
    validation() {
      if (this.activeDelivery < 0) {
        this.errors.push('Выберите доставку или создайте новую.');
        return
      }
      this.$router.push({ 'name': 'CheckoutPayment' })
    },
    goToPayment() {
      this.$router.push({ 'name': 'CheckoutPayment' })
    }
  },
  mounted() {
    this.fetchDeliveries(this.$store.state.user.user.id),
      this.getCities();

  }
}
</script>

<style scoped>
.error {
  color: #df0000;
  font-size: 12px;
  margin-top: 10px;
}
.checkout .step3 .saved-delivery {
  padding: 35px 20px 20px 20px;
  background: #ffffff;
  border-radius: 6px;
}
.checkout .step3 .saved-delivery .title {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
.checkout .step3 .saved-delivery .wrapper {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
}
.checkout .step3 .saved-delivery .wrapper .item {
  width: 228px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #000;
  border-radius: 6px;
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.checkout .step3 .saved-delivery .wrapper .item.active {
  border-color: #fc0000;
}

.checkout .step3 .saved-delivery .wrapper .item:nth-child(3n) {
  margin-right: 0;
}
.checkout .step3 .saved-delivery .wrapper .item .top {
  border-radius: 6px 6px 0 0;
  background: #f7f7f7;
  padding: 16px;
}
.checkout .step3 .saved-delivery .wrapper .item .top .type {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 8px;
}
.checkout .step3 .saved-delivery .wrapper .item .top .type span {
  padding-right: 20px;
  position: relative;
}
.checkout .step3 .saved-delivery .wrapper .item .top .type span:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #000;
  right: 6px;
}
.checkout .step3 .saved-delivery .wrapper .item .top .city {
  font-size: 14px;
  color: #000;
}
.checkout .step3 .saved-delivery .wrapper .item .bottom {
  border: 0 0 6px 6px;
  padding: 16px;
}
.checkout .step3 .saved-delivery .wrapper .item .bottom .address {
  color: #000;
  font-size: 12px;
}
.checkout .step3 .add-delivery {
  margin-top: 28px;
  width: 100%;
  background: #f6f6f6;
  height: 55px;
  border-radius: 6px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: #a6a6a6;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .checkout .step3 {
    padding: 0;
    box-shadow: none;
  }
  .checkout .step3 .saved-delivery {
    padding: 0;
  }
  .main-wrapper-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
  }
  .main-wrapper {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
    padding: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
  .main-wrapper.active {
    padding-top: 0;
  }
  .main-wrapper.disabled {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-wrapper:nth-last-child(1) {
    margin-bottom: 0;
  }
  .main-wrapper-top .right {
    display: block;
  }
  .checkout .step3 .saved-delivery .title {
    font-size: 14px;
    font-weight: 500;
  }
  .checkout .step3 .saved-delivery .title {
    margin-top: 15px;
  }
  .checkout .step3 .saved-delivery .wrapper {
    margin-top: 30px;
  }
  .checkout .step3 .saved-delivery .wrapper .item {
    margin-right: 0;
    width: 100%;
  }
  .checkout .step3 .add-delivery {
    margin-top: 0;
  }
  .error {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
</style>
