<template>
  <form method="POST" action="/api/products" enctype="multipart/form-data">
  <div style="opacity: 0.75" class="main-wrapper disabled">
      <div class="main-wrapper-top">
        <div class="left">
          1. Тип заказа <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="2.20605"
                      y="9.34108"
                      width="7.39163"
                      height="2.46388"
                      transform="rotate(45 2.20605 9.34108)"
                      fill="#00AB4F"
                    />
                    <rect
                      x="3.94824"
                      y="14.5678"
                      width="14.7833"
                      height="2.46388"
                      transform="rotate(-45 3.94824 14.5678)"
                      fill="#00AB4F"
                    />
                  </svg>
        </div>
        <div class="arrow">
          <img style="transform: rotate(180deg);" src="/images/arrow.png" alt="">
        </div>
      </div>
    </div>
    <div style="opacity: 0.75" class="main-wrapper disabled">
      <div class="main-wrapper-top">
        <div class="left">
          2. Получатель <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="2.20605"
                      y="9.34108"
                      width="7.39163"
                      height="2.46388"
                      transform="rotate(45 2.20605 9.34108)"
                      fill="#00AB4F"
                    />
                    <rect
                      x="3.94824"
                      y="14.5678"
                      width="14.7833"
                      height="2.46388"
                      transform="rotate(-45 3.94824 14.5678)"
                      fill="#00AB4F"
                    />
                  </svg>
        </div>
        <div class="arrow">
          <img style="transform: rotate(180deg);" src="/images/arrow.png" alt="">
        </div>
      </div>
    </div>
    <div style="opacity: 0.75" class="main-wrapper disabled">
      <div class="main-wrapper-top">
        <div class="left">
          3. Доставка <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="2.20605"
                      y="9.34108"
                      width="7.39163"
                      height="2.46388"
                      transform="rotate(45 2.20605 9.34108)"
                      fill="#00AB4F"
                    />
                    <rect
                      x="3.94824"
                      y="14.5678"
                      width="14.7833"
                      height="2.46388"
                      transform="rotate(-45 3.94824 14.5678)"
                      fill="#00AB4F"
                    />
                  </svg>
        </div>
        <div class="arrow">
          <img style="transform: rotate(180deg);" src="/images/arrow.png" alt="">
        </div>
      </div>
    </div>
  <div class="main-wrapper active">
      <div class="main-wrapper-top">
        <div class="left">
          4. Оплата
        </div>
        <div class="arrow">
          <img src="/images/arrow.png" alt="">
        </div>
      </div>
    <div class="main step4">
      <div class="payment">
        <div class="title">Доступные способы оплаты</div>
        <div class="toggle">
          <label @click="toggleCash(true)" :class="{ active: isCash == true }">
            Наличными
            <input type="radio" name="checkout_step1_toggle" />
          </label>
          <label
            @click="toggleCash(false)"
            :class="{ active: isCash == false }"
          >
            Перевод
            <input type="radio" name="checkout_step1_toggle" />
          </label>
        </div>
        <label class="check delay">
          <input @change="toggleDelay()" type="checkbox" />
          <div class="checkbox">
            <span class="checkmark"></span>
          </div>
          Отложенный платеж
        </label>
        <div v-if="isDelay == true" class="delay-range">
          <span class="sup"> Дней до оплаты </span>
          <Vue-range-slider
            ref="delaySlider"
            :tooltip="delaySlider.tooltip"
            :min="delaySlider.min"
            :dot-size="delaySlider.size"
            :max="delaySlider.max"
            :height="delaySlider.height"
            v-model="delay"
            :tooltip-style="{ display: 'none' }"
            :dot-style="{ background: '#000000' }"
          />
          <div class="values">
            <span> 1 </span>
            <span> 2 </span>
            <span> 3 </span>
            <span> 4 </span>
            <span> 5 </span>
            <span> 6 </span>
            <span> 7 </span>
            <span> 8 </span>
            <span> 9 </span>
            <span> 10 </span>
          </div>
        </div>
        <label class="check cashback">
          <input @change="toggleCashback" type="checkbox" />
          <div class="checkbox">
            <span class="checkmark"></span>
          </div>
          Списать кэшбэк
        </label>
        <div v-if="isCashback == true" class="cashback-block">
          <div class="item">
            <div class="label">Ваш кэшбэк</div>
            <div class="text">{{ getUserCashback }} ₽</div>
          </div>
          <div class="item">
            <div class="label">Списать</div>
            <div class="input">
              <input
                type="number"
                min="1"
                v-model="cashback"
                :max="getUserCashback"
              />
            </div>
          </div>
        </div>
        <div class="summ-total">
          <div class="summ-total-label">
            Сумма к оплате
          </div>
          <div class="summ-total-number">
            {{getCartTotal}} ₽
          </div>
        </div>
        <div v-if="isCash === false" class="cards">
          <div class="text">Карта для перевода</div>
          <div
            class="dropdown"
            @click="toggleDropdown"
            :class="{ active: dropdown == true }"
          >
            <div class="card">{{ card }}</div>
            <div class="button">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="2.34766"
                  y="4.62685"
                  width="9"
                  height="1"
                  transform="rotate(45 2.34766 4.62685)"
                  fill="black"
                  stroke="black"
                />
                <rect
                  x="7.31453"
                  y="11.0092"
                  width="9"
                  height="1"
                  transform="rotate(-45 7.31453 11.0092)"
                  fill="black"
                  stroke="black"
                />
              </svg>
            </div>
            <div class="dropdown-list">
              <div
                @click="setCard(card)"
                v-for="card in cards"
                :key="card"
                class="dropdown-item"
              >
                {{ card }}
              </div>
            </div>
          </div>
        </div>
        <div v-if="isCash === false" class="screenshot">
          <div class="left">
            <div class="title">Прикрепите скриншоты оплаты</div>
            <div class="sub">не более двух скриншотов</div>
          </div>
          <label class="upload" :class="{'upload-active': payment_screenshot !== null}">
            <input
              @change="onImageSelected"
              type="file"
              accept=".jpg, .png, .jpeg"
              name="payment_screenshot"
            />
            <img class="payment_screenshot_preview" v-if="payment_screenshot !== null" :src="attachment_url" alt="" />
            <img v-if="payment_screenshot == null" src="/images/upload.png" alt="" />
            <div v-if="payment_screenshot == null" class="text">Перетащите файл или загрузите с устройства</div>
          </label>
        </div>
      </div>
    </div>
  </div>
    <div to="/success" @click="showOrder" class="next">Далее</div>
  </form>
</template>

<script>

import 'vue-range-component/dist/vue-range-slider.css'
import VueRangeSlider from 'vue-range-component'
import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      isCash: true,
      dropdown: false,
      cards: ['0000 0000 0000 0000', '1111 1111 1111 1111', '2222 2222 2222 2222', '3333 3333 3333 3333', '4444 4444 4444 4444', '5555 5555 5555 5555'],
      card: '0000 0000 0000 0000',
      payment_screenshot: null,
      attachment_url: null,
      cashback: null,
      isDelay: false,
      isCashback: false,
      delay: 1,
      delaySlider: {
        min: 1,
        max: 10,
        height: 1,
        size: 17,
      }
    }
  },
  computed: {
    ...mapGetters(['getUserCashback', 'getCartTotal']),
  },
  components: {
    VueRangeSlider
  },
  methods: {
    toggleDelay() {
      this.isDelay = !this.isDelay;
    },
    toggleCashback() {
      this.isCashback = !this.isCashback;
    },
    setCard(card) {
      this.card = card;
    },
    toggleDropdown() {
      this.dropdown = !this.dropdown;
    },
    toggleCash(status) {
      this.isCash = status;
    },
    onImageSelected(event) {
      this.payment_screenshot = event.target.files[0];
      this.attachment_url = URL.createObjectURL(event.target.files[0]);
    },
    showOrder() {
      if (this.isCash == true) {
        this.$store.commit('setOrderPaymentType', 'cash');
        this.$store.commit('setOrderPaymentCard', null);
      } else {
        this.$store.commit('setOrderPaymentType', 'card');
        this.$store.commit('setOrderPaymentCard', this.card);
      }

      if (this.isDelay == false) {
        this.$store.commit('setOrderDelay', null);
      } else {
        this.$store.commit('setOrderDelay', this.delay)
      }

      if (this.isCashback == true) {
        if (this.isCashback > 0) {
          this.$store.commit('setOrderCashback', this.cashback)
        }
      } else {
        this.$store.commit('setOrderCashback', null)
      }

      let order = this.$store.state.order.order;
      const formData = new FormData();

      formData.append('order', JSON.stringify(order));
      formData.append('payment_screenshot', this.payment_screenshot);

      axios
        .post('/api/orders', formData)
        .then((response) => {
          this.$store.commit('clearCart');
          this.$store.commit('clearOrder');
          this.$router.push({ name: 'Success' });
        })
        .catch((error) => {
          console.log(error);
        })


    }
  }
}
</script>

<style scoped>
.cashback-block {
  padding-top: 24px;
  border-top: 1px solid #000;
  margin-top: 10px;
}
.summ-total {
  display: none;
}
.cashback-block .item {
  display: flex;
  align-items: center;
}
.cashback-block .item .label {
  width: 350px;
  margin-right: 24px;
}
.cashback-block .item .text {
  font-size: 20px;
  margin-bottom: 12px;
}
.cashback-block .item .input input {
  border: 1px solid #ddd;
  background: #f7f7f7;
  width: 350px;
  height: 42px;
  padding: 0px 14px;
  color: #474747;
}
.slider-dot {
  box-shadow: none;
  background: #000;
}
.delay-range {
  padding: 0px 25px;
  padding-top: 24px;
  border-top: 1px solid #000;
  margin-bottom: 50px;
}
.delay-range .sup {
  padding-left: 9px;
  color: #000;
  display: block;
  margin-bottom: 24px;
}
.delay-range .values {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0px 8px;
  margin-top: 16px;
}
.checkout .step4 .payment {
  padding: 20px;
  padding-top: 35px;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  background: #fff;
}
.checkout .step4 .payment .check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: relative;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}
.checkout .step4 .payment .check input {
  -webkit-appearance: none;
  position: absolute;
}
.checkout .step4 .payment .check input:checked + .checkbox {
  background: #fa3131;
}
.checkout .step4 .payment .check input:checked + .checkbox .checkmark {
  left: 28px;
  transition: 0.2s all;
}
.checkout .step4 .payment .check .checkbox {
  position: relative;
  width: 54px;
  height: 28px;
  background: #ededed;
  border-radius: 28px;
}
.checkout .step4 .payment .check .checkbox .checkmark {
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: 0.2s all;
}
.checkout .step4 .payment .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 50px;
}
.checkout .step4 .payment .toggle {
  padding: 8px;
  background: #f8f8f8;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout .step4 .payment .toggle label {
  width: 50%;
  height: 40px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.checkout .step4 .payment .toggle label.active {
  background: #fff;
}
.checkout .step4 .payment .toggle label input {
  -webkit-appearance: none;
  position: absolute;
}
.checkout .step4 .payment .delay {
  margin-top: 42px;
  margin-bottom: 28px;
}
.checkout .step4 .payment .cards {
  display: flex;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 24px;
}
.checkout .step4 .payment .cards .text {
  margin-right: 200px;
  font-size: 18px;
  font-weight: 500;
  width: 350px;
  margin-right: 24px;
}
.checkout .step4 .payment .cards .dropdown {
  display: flex;
  align-items: center;
  position: relative;
}
.checkout .step4 .payment .cards .dropdown .dropdown-list {
  position: absolute;
  top: 44px;
  left: 0;
  display: none;
  width: 100%;
  border: 1px solid #ddd;
  border-top: none;
  background: #fff;
  transition: 0.4s linear;
}
.checkout .step4 .payment .cards .dropdown.active .dropdown-list {
  display: block;
}
.checkout .step4 .payment .cards .dropdown.active .button svg {
  transform: rotate(180deg);
  transition: 0.4s all;
}
.checkout .step4 .payment .cards .dropdown .button svg {
  transition: 0.4s all;
}
.checkout .step4 .payment .cards .dropdown .dropdown-list .dropdown-item {
  padding: 12px;
  font-size: 18px;
  font-weight: 500;
  color: #474747;
  cursor: pointer;
}
.checkout .step4 .payment .cards .dropdown .card {
  height: 44px;
  width: 200px;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  color: #474747;
  background: #f6f6f6;
  border: 1px solid #ddd;
  border-right: 1px solid #c5c5c5;
}
.checkout .step4 .payment .cards .dropdown .button {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #ddd;
  border-left: none;
  background: #f6f6f6;
}
.checkout .step4 .payment .screenshot {
  padding-top: 38px;
  border-top: 2px solid #ccc;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.checkout .step4 .payment .screenshot .title {
  margin-bottom: 8px;
}
.checkout .step4 .payment .screenshot .sub {
  font-size: 14px;
  color: #a6a6a6;
}
.checkout .step4 .payment .screenshot .upload {
  width: 216px;
  height: 216px;
  border: 1px solid #ddd;
  padding: 30px 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
}
.checkout .step4 .payment .screenshot .upload.upload-active {
  height: unset;
  padding: 0;
  border: unset;
}
.checkout .step4 .payment .screenshot .upload input {
  display: none;
}
.checkout .step4 .payment .screenshot .upload .text {
  font-size: 14px;
  color: #a6a6a6;
  margin-top: 25px;
}
@media screen and (max-width: 800px) {
  .checkout-wrapper .left {
    max-width: 300px;
  }
}
@media screen and (max-width: 600px) {
  .checkout-wrapper .left .next {
    width: 100%;
  }
  .checkout .step4 .payment .delay {
    font-size: 14px;
    width: 100%;
  }
  .checkout .step4 .payment .check {
    font-size: 14px;
    width: 100%;
  }
  .checkout .step4 .payment .check {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .delay-range {
    padding-left: 0;
    padding-right: 0;
  }
  .cashback-block .item .label {
    width: unset
  }
  .cashback-block {
    padding-top: 20px;
    font-size: 14px;
  }
  .cashback-block .item .text {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
  }
  .cashback-block .item {
    justify-content: space-between;
    align-items: center;
  }
  .cashback-block .item:nth-last-child(1) {
    margin-top: 15px;
  }
  .cashback-block .item .input input {
    width: 150px;
  }
  .delay-range .sup {
    padding-left: 0;
    font-size: 14px;
  }
  .checkout .step4 {
    padding: 0;
    box-shadow: none;
  }
  .checkout .step4 .payment {
    box-shadow: none;
    padding: 0;
  }
  .main-wrapper-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
  }
  .main-wrapper {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
    padding: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
  .main-wrapper.active {
    padding-top: 0;
  }
  .main-wrapper.disabled {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-wrapper:nth-last-child(1) {
    margin-bottom: 0;
  }
  .main-wrapper-top .right {
    display: block;
  }
  .checkout .step4 .payment .title {
    display: none;
  }
  .checkout .step4 .payment .toggle label {
    font-size: 12px;
  }
  form .next {
    display: flex !important;
  }
  .checkout .step4 .payment .cards {
    flex-direction: column;
    align-items: flex-start;
  }
  .checkout .step4 .payment .screenshot .sub {
    display: none;
  }
  .checkout .step4 .payment .screenshot .upload {
    width: 100%;
  }
  .checkout .step4 .payment .screenshot {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
  }
  .checkout .step4 .payment .screenshot .left {
    display: none;
  }
  .checkout .step4 .payment .cards .text {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .checkout .step4 .payment .cards .dropdown .card {
    width: calc(100% - 44px);
  }
  .checkout .step4 .payment .cards .dropdown {
    width: 100%;
  }
  .checkout .step4 .payment .cards .dropdown .dropdown-list .dropdown-item {
    padding: 10px;
    font-size: 16px;
  }
  .checkout-wrapper .left .next {
    position: relative;
    font-size: 0px;
  }
  .checkout-wrapper .left .next::after {
    content: 'Оформить заказ';
    position: absolute;
    top: 50%;
    font-size: 16px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .summ-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #000;
  }
  .summ-total-label {
    font-size: 14px;
    font-weight: 500;
  }
  .summ-total-number {
    font-size: 22px;
    font-weight: 400;
  }
  .cashback-block {
    margin-bottom: 20px;
  }
}


</style>