<template>
  <div>
    <div style="opacity: 0.75" class="main-wrapper disabled">
      <div class="main-wrapper-top">
        <div class="left">
          1. Тип заказа <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="2.20605"
                      y="9.34108"
                      width="7.39163"
                      height="2.46388"
                      transform="rotate(45 2.20605 9.34108)"
                      fill="#00AB4F"
                    />
                    <rect
                      x="3.94824"
                      y="14.5678"
                      width="14.7833"
                      height="2.46388"
                      transform="rotate(-45 3.94824 14.5678)"
                      fill="#00AB4F"
                    />
                  </svg>
        </div>
        <div class="arrow">
          <img style="transform: rotate(180deg);" src="/images/arrow.png" alt="">
        </div>
      </div>
    </div>
    <div class="main-wrapper active">
      <div class="main-wrapper-top">
        <div class="left">
          2. Получатель
        </div>
        <div class="arrow">
          <img src="/images/arrow.png" alt="">
        </div>
      </div>
    <div class="main step2">
      <div class="person">
        <label class="check">
          <input type="checkbox" @click="getUserOrderInfo" :checked="isMe" />
          <div class="checkbox">
            <span class="checkmark"></span>
          </div>
          Я получатель
        </label>
        <div class="item">
          <label>Имя</label>
          <input
            type="text"
            class="input_name"
            @keyup="checkIfMe"
            @change="setUserOrderInfo"
            :value="user.name"
          />
        </div>
        <div class="error" v-for="error in errors.name" :key="error.id" >{{error}}</div>
        <div class="item">
          <label>Фамилия</label>
          <input
            type="text"
            class="input_surname"
            @keyup="checkIfMe"
            @change="setUserOrderInfo"
            :value="user.surname"
          />
        </div>
        <div class="error" v-for="error in errors.surname" :key="error.id" >{{error}}</div>
        <div class="item">
          <label>Отчество</label>
          <input
            type="text"
            class="input_father_name"
            @keyup="checkIfMe"
            @change="setUserOrderInfo"
            :value="user.father_name"
          />
        </div>
        <div class="error" v-for="error in errors.father_name" :key="error.id" >{{error}}</div>
        <div class="item">
          <label>Номер телефона</label>
          <input
            type="tel"
            class="input_phone"
            @keyup="checkIfMe"
            @change="setUserOrderInfo"
            :value="user.phone"
          />
        </div>
        <div class="error" v-for="error in errors.phone" :key="error.id" >{{error}}</div>
      </div>
    </div>
    </div>
    <div @click="validation()" class="main-wrapper disabled">
      <div class="main-wrapper-top">
        <div class="left">
          3. Доставка
        </div>
        <div class="arrow">
          <img style="transform: rotate(180deg);" src="/images/arrow.png" alt="">
        </div>
      </div>
    </div>
    <div style="opacity: 0.5" class="main-wrapper disabled">
      <div class="main-wrapper-top">
        <div class="left">
          4. Оплата
        </div>
        <div class="arrow">
          <img style="transform: rotate(180deg);" src="/images/arrow.png" alt="">
        </div>
      </div>
    </div>
    <div @click="validation" to="/checkout/delivery" class="next">Далее</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isMe: false,
      user: {
        name: '',
        surname: '',
        father_name: '',
        phone: '',
        id: '',
      },
      errors: {
        name: [],
        surname: [],
        father_name: [],
        phone: [],
      }
    }
  },
  methods: {
    validation() {
      this.errors = {
        name: [],
        surname: [],
        father_name: [],
        phone: [],
      }
      let phoneRegExp = /[a-zA-Z]/g;
      if(this.user.name.length < 2) {
        this.errors.name.push('В имени должно быть минимум 2 символа');
        return
      }
      this.errors.name = [];
      if(this.user.surname.length < 6) {
        this.errors.surname.push('В фамилии должно быть минимум 6 символов');
        return
      }
      this.errors.surname = [];
      if(this.user.father_name.length < 4) {
        this.errors.father_name.push('В отчестве должно быть минимум 4 символа');
        return
      }
      this.errors.father_name = [];
      if(this.user.phone.length < 10) {
        this.errors.phone.push('В номере должно быть минимум 10 символов');
        return
      } else if(phoneRegExp.test(this.user.phone)) {
        this.errors.phone = [];
        this.errors.phone.push('Номер должен состоять только из цифр и символов');
        return
      }

      this.$router.push({'name': 'CheckoutDelivery'});
    },
    getUserOrderInfo() {
      this.user = this.$store.getters['getUserOrderInfo'];
      this.isMe = true;
      this.$store.commit('setOrderUserInfo', this.user);

    },
    checkIfMe() {
      if (this.isMe === false) {

      } else {
        this.isMe = false;
      }
    },
    setUserOrderInfo() {
      let inputName = document.querySelector('.input_name').value;
      let inputSurname = document.querySelector('.input_surname').value;
      let inputFather_name = document.querySelector('.input_father_name').value;
      let inputPhone = document.querySelector('.input_phone').value;
      let userId = this.$store.state.user.user.id;

      this.user = {
        name: inputName,
        surname: inputSurname,
        father_name: inputFather_name,
        phone: inputPhone,
        id: userId,
      }

      this.$store.commit('setOrderUserInfo', this.user);
    }
  }
}
</script>

<style scoped>
.error {
  color: #DF0000;
  padding-left: 174px;
  font-size: 12px;
  margin-top: 10px;
}
.checkout .step2 {
  padding: 20px 20px 42px 20px;
  background: #fff;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.checkout .step2 .person .check {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  position: relative;
  width: 200px;
  cursor: pointer;
}
.checkout .step2 .person .check input {
  -webkit-appearance: none;
  position: absolute;
}
.checkout .step2 .person .check input:checked + .checkbox {
  background: #fa3131;
}
.checkout .step2 .person .check input:checked + .checkbox .checkmark {
  left: 28px;
  transition: 0.2s all;
}
.checkout .step2 .person .check .checkbox {
  position: relative;
  width: 54px;
  height: 28px;
  background: #ededed;
  border-radius: 28px;
  margin-left: 20px;
}
.checkout .step2 .person .check .checkbox .checkmark {
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: 0.2s all;
}
.checkout .step2 .person .item {
  margin-top: 42px;
  display: flex;
  align-items: center;
}
.checkout .step2 .person .item label {
  font-size: 16px;
  color: #000;
  width: 150px;
  margin-right: 24px;
}
.checkout .step2 .person .item input {
  padding: 0px 14px;
  background: #f6f6f6;
  border: 1px solid #ddd;
  height: 42px;
  width: 450px;
  color: #474747;
}
@media screen and (max-width: 600px) {
  .checkout .step2 {
    padding: 0;
    box-shadow: none;
  }
  .main-wrapper-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
  }
  .main-wrapper {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
    padding: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
  .main-wrapper.active {
    padding-top: 0;
  }
  .main-wrapper.disabled {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-wrapper:nth-last-child(1) {
    margin-bottom: 0;
  }
  .main-wrapper-top .right {
    display: block;
  }
  .checkout .step2 .person .check {
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
  }
  .checkout .step2 .person .check .checkbox {
    height: 24px;
    width: 48px;
  }
  .checkout .step2 .person .check .checkbox .checkmark {
    left: 0;
  }
  .checkout .step2 .person .check input:checked + .checkbox .checkmark {
    left: 24px;
  }
  .checkout .step2 .person .item {
    margin-top: 24px;
    flex-direction: column;
    align-items: flex-start;
  }
  .checkout .step2 .person .item input {
    width: 100%;
  }
  .checkout .step2 .person .item label {
    font-size: 14px;
    margin-bottom: 8px;
    width: 100%;
    font-weight: 400;
  }
  .error {
    width: 100%;
    padding-left: 0;
  }
}
</style>