<template>
  <div class="chat">
    <div class="top">
      <div class="avatar">
        <img src="/images/avatar.png" alt="" />
      </div>
      <div class="name">Татьяна</div>
    </div>
    <div class="chat-main" :class="{ attached: attachment !== null }">
      <div v-for="(dateGroup, name) in messages" :key="dateGroup.id">
        <div class="date">{{ name }}</div>
        <div
          v-for="message in dateGroup"
          :key="message.id"
          class="message"
          :class="{
            else: message.user_id !== user.id,
            my: message.user_id == user.id,
          }"
        >
          <span v-if="message.type == 'message'"
            >{{ message.message }}
            <div class="time">{{ message.time }}</div>
          </span>
          <span v-if="message.type == 'attachment'"
            ><img :src="'/../uploads/' + message.attachment" alt="" />
            <div v-if="message.message !== 'unset'" class="message">
              {{ message.message }}
            </div>
            <div class="time">{{ message.time }}</div>
          </span>
        </div>
      </div>
    </div>
    <div class="bottom" :class="{ attached: attachment !== null }">
      <div class="sup">
        <div @click="showAttachmentModal" class="file">
          <img src="/images/file.png" alt="" />
        </div>
        <input
          id="chatInput"
          @keyup.enter="sendMessage"
          type="text"
          placeholder="Сообщение"
        />
        <div @click="sendMessage" class="send">
          <img src="/images/send.png" alt="" />
        </div>
      </div>
      <div v-if="attachment !== null" class="attachments">
        <div class="item">
          <img :src="photoUrl" alt="" />
          <img
            class="close"
            @click="removeAttachment"
            src="/images/close.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div
      v-if="attachmentModal == true"
      class="attachment-popup"
      @click="attachmentBackground"
    >
      <label class="item">
        <input
          @change="onImageSelected"
          type="file"
          id="attachment"
          accept=".png, .jpg, .jpge"
        />
        <img src="/images/upload.png" alt="" />
        <span> Перетащите или загрузите с устройства </span>
      </label>
    </div>
  </div>
</template>

<script>

import axios from 'axios';

export default {
  data() {
    return {
      order_id: this.$route.params.id,
      newMessage: '',
      user: null,
      messages: {},
      attachmentModal: false,
      attachment: null,
      photoUrl: null,
    }
  },
  created() {
    this.fetchMessages();
  },

  methods: {
    fetchMessages() {
      this.user = this.$store.getters['getUserOrderInfo'];
      axios.get('/api/messages/' + this.order_id).then(response => {
        const groups = response.data.reduce((groups, item) => {
          const group = (groups[item.date] || []);
          group.push(item);
          groups[item.date] = group;
          return groups;
        }, {});

        this.messages = groups;
      });
    },
    sendMessage() {
      if (this.attachment == null) {
        this.newMessage = document.getElementById('chatInput').value;

        let message = {
          message: this.newMessage,
          id: this.order_id
        };

        axios.post('/api/messages', message).then(response => {
          this.newMessage = '';
          document.getElementById('chatInput').value = '';
          this.fetchMessages();

        });
      } else {
        let formData = new FormData();

        this.newMessage = document.getElementById('chatInput').value;

        let message = {
          message: this.newMessage,
          id: this.order_id
        };

        formData.append('message', JSON.stringify(message));
        formData.append('attachment', this.attachment);

        axios.post('/api/messages', formData).then(response => {
          this.newMessage = '';
          document.getElementById('chatInput').value = '';
          this.attachment = null;
          this.photoUrl = null;
          this.fetchMessages();
        });



      }

    },
    showAttachmentModal() {
      this.attachmentModal = !this.attachmentModal;
    },
    attachmentBackground(e) {
      if (e.target.className == 'attachment-popup') {
        this.showAttachmentModal();
      }
    },
    onImageSelected(event) {
      this.attachment = event.target.files[0];
      this.photoUrl = URL.createObjectURL(event.target.files[0]);
      this.showAttachmentModal();
    },
    removeAttachment() {
      this.attachment = null;
    }
  }
}
</script>

<style scoped>
.attachments {
  background: #f7f7f7;
  display: flex;
  padding: 10px 15px;
  margin-left: 30px;
  margin-right: 31px;
  border: 1px solid #ddd;
  border-top: none;
  height: 103px;
}
.attachments .item {
  position: relative;
  margin-right: 10px;
  background: #f8f8f8;
  max-width: 82px;
  max-height: 82px;
}
.attachments .item img {
  max-width: 100%;
  max-height: 100%;
}
.attachments .item .close {
  position: absolute;
  cursor: pointer;
  right: 4px;
  top: 4px;
}

.order-wrapper .main .chat .attachment-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.order-wrapper .main .chat .attachment-popup .item {
  background: #f8f8f8;
  border: 1px solid #eaeaea;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 216px;
  height: 216px;
  padding: 30px 25px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.order-wrapper .main .chat .attachment-popup .item input {
  display: none;
}

.order-wrapper .main .chat .attachment-popup .item span {
  color: #a6a6a6;
  font-size: 14px;
  line-height: 140%;
}

.order-wrapper .main .chat .attachment-popup .item img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.order-wrapper .main .chat {
  position: relative;
  padding-bottom: 30px;
  min-height: calc(100vh - 240px);
}
.order-wrapper .main .chat .top {
  display: flex;
  align-items: center;
  padding-left: 32px;
  background: #fff;
  height: 60px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.order-wrapper .main .chat .top .avatar {
  border-radius: 50%;
  width: 32px;
  margin-right: 12px;
}
.order-wrapper .main .chat .top .name {
  color: #232323;
  font-size: 14px;
}
.order-wrapper .main .chat .chat-main {
  padding-top: 28px;
  padding-left: 32px;
  padding-right: 16px;
  height: calc(100vh - 370px);
  overflow-y: scroll;
}
.order-wrapper .main .chat .chat-main.attached {
  height: calc(100vh - 473px);
}
.order-wrapper .main .chat .chat-main::-webkit-scrollbar {
  width: 4px;
}
.order-wrapper .main .chat .chat-main::-webkit-scrollbar-track {
  background: #f8f8f8;
}
.order-wrapper .main .chat .chat-main::-webkit-scrollbar-thumb {
  background: #ccc;
}
.order-wrapper .main .chat .chat-main .date {
  text-align: center;
  color: #a6a6a6;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 14px;
}
.order-wrapper .main .chat .chat-main .message span {
  max-width: 40%;
  padding: 12px;
  color: #232323;
  font-size: 16px;
  color: #000;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  margin-bottom: 14px;
  display: inline-block;
  position: relative;
}
.order-wrapper .main .chat .chat-main .message span .message {
  margin-top: 12px;
}
.order-wrapper .main .chat .chat-main .message span .time {
  color: #a6a6a6;
  font-size: 14px;
  position: absolute;
  top: 4px;
}
.order-wrapper .main .chat .chat-main .message.else {
  display: flex;
  justify-content: flex-start;
}
.order-wrapper .main .chat .chat-main .message.else span {
  background: #ffd4d4;
}
.order-wrapper .main .chat .chat-main .message.else span .time {
  right: -48px;
}
.order-wrapper .main .chat .chat-main .message.my {
  display: flex;
  justify-content: flex-end;
}
.order-wrapper .main .chat .chat-main .message.my span {
  background: #fff;
}
.order-wrapper .main .chat .chat-main .message.my span .time {
  left: -48px;
}
.order-wrapper .main .chat .bottom {
  height: 40px;
  padding-left: 32px;
  padding-right: 16px;
}
.order-wrapper .main .chat .bottom.attached {
  height: 123px;
}
.order-wrapper .main .chat .bottom.attached input {
  border-bottom: none;
}
.order-wrapper .main .chat .bottom .sup {
  display: flex;
  align-items: center;
}
.order-wrapper .main .chat .bottom .file {
  margin-right: 15px;
  cursor: pointer;
}
.order-wrapper .main .chat .bottom .send {
  margin-left: 15px;
  cursor: pointer;
}
.order-wrapper .main .chat .bottom input {
  padding: 0px 14px;
  color: #232323;
  background: #f6f6f6;
  border: 1px solid #ddd;
  height: 40px;
  width: 100%;
}
.order-wrapper .main .chat .bottom input::placeholder {
  color: #a6a6a6;
}

@media screen and (max-width: 600px) {
  .order-wrapper .main .chat .chat-main .message span {
    font-size: 12px;
  }
  .order-wrapper .main .chat .chat-main .message span .time {
    font-size: 10px;
  }
  .order-wrapper .main .chat .chat-main .message.my span .time {
    left: -30px;
  }
  .order-wrapper .main .chat .chat-main .date {
    font-size: 10px;
  }
  .order-wrapper .main .chat .chat-main {
    padding: 15px;
    padding-bottom: 0;
  }
}
</style>