<template>
  <div>
    <div v-for="order in allOrders" :key="order.id">
    <div v-if="order.id == order_id" class="details">
      <div class="item">
        <div class="key">Дата заказа</div>
        <div class="val">{{order.date}}</div>
      </div>
      <div class="item">
        <div class="key">Способ доставки</div>
        <div class="val">
          {{order.order_delivery.type}}
        </div>
      </div>
      <div class="item">
        <div class="key">Номер накладной</div>
        <div class="val">{{order.bill}}</div>
      </div>
      <div class="item">
        <div class="key">Способ оплаты</div>
        <div v-if="order.payment_type == 'card'" class="val">Перевод</div>
        <div v-if="order.payment_type == 'cash'" class="val">Наличными</div>
      </div>
      <div v-if="order.cashback_paid !== null" class="item">
        <div class="key">Оплачено кешбеком</div>
        <div class="val">{{order.cashback_paid}} ₽</div>
      </div>
      <div class="item">
        <div class="key">Город доставки</div>
        <div class="val">{{order.order_delivery.city}}</div>
      </div>
      <div class="item">
        <div class="key">Адрес доставки</div>
        <div class="val">
          {{order.order_delivery.adress}}
        </div>
      </div>
      <div class="goods">
        <div v-for="product in JSON.parse(order.cart).cart" :key="product.id" class="item">
          <div class="photo">
            <img :src="'/images/'+product.photo" alt="" />
          </div>
          <div class="title">{{product.parent_name}} {{product.name}}</div>
          <div class="count">{{product.quantity}} шт.</div>
          <div v-if="product.quantity <= 60" class="price">{{ product.quantity * product.price }} ₽</div>
              <div v-if="product.quantity > 60 && product.quantity <= 120" class="price">{{ product.quantity * 395 }} ₽</div>
              <div v-if="product.quantity >120" class="price">{{ product.quantity * 390 }} ₽</div>
        </div>
      </div>
    </div>
    </div>
  </div>
</template>

<script>

import {mapActions, mapGetters} from 'vuex';

export default {
  computed: mapGetters(['allOrders']),
  data() {
    return {
      order_id: this.$route.params.id,
    }
  },
   methods: {
    ...mapActions(['fetchOrders']),
  },
  mounted() {
    this.fetchOrders();
  }

}
</script>

<style scoped>
.order-wrapper .main .content .details {
  padding-left: 32px;
  padding-top: 32px;
}
.order-wrapper .main .content .details .item {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.order-wrapper .main .content .details .item .key {
  width: 160px;
  color: #a6a6a6;
  font-size: 14px;
  margin-right: 10px;
}
.order-wrapper .main .content .details .item .value {
  font-size: 16px;
  color: #000;
}
.order-wrapper .main .content .details .goods {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.order-wrapper .main .content .details .goods .item {
  padding: 40px 24px 24px 24px;
  width: 175px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  background: #fff;
}
.order-wrapper .main .content .details .goods .item .title {
  margin-top: 40px;
  min-height: 48px;
  font-size: 20px;
  margin-bottom: 10px;
}
.order-wrapper .main .content .details .goods .item .photo {
  width: 100%;
  min-height: 110px;
}
.order-wrapper .main .content .details .goods .item .photo img {
  width: 100%;
}
.order-wrapper .main .content .details .goods .item .count {
  font-size: 14px;
  color: #a6a6a6;
  margin-bottom: 5px;
}
.order-wrapper .main .content .details .goods .item .price {
  font-size: 16px;
  color: #000;
}
@media screen and (max-width: 1000px) {
.order-wrapper .main .content .details {
    padding-left: 25px;
  }
}
@media screen and (max-width: 600px) {
.order-wrapper .main .content .details {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
  }
  .order-wrapper .main .content .details .item {
    flex-direction: column;
    align-items: flex-start;
  }
  .order-wrapper .main .content .details .goods .item {
    padding: 15px;
    min-width: 175px;
  }
  .order-wrapper .main .content .details .goods {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
}

</style>