<template>
  <div>
    <div v-for="order in allOrders" :key="order.id">
      <div v-if="order.id == order_id">
        <div v-for="event in order.order_events" :key="event.id">
          <div
            v-if="event.type == 'waiting_payment' && event.is_active == true"
            class="payment-alert"
          >
            Оплатите заказ и прикрепите скриншоты оплаты, чтобы заказ начал
            обрабатываться
          </div>
          <div
            v-if="event.type == 'processing_payment' && event.is_active == true"
            class="payment-attention"
          >
            Мы получили ваш скриншот и в данный моммент обрабатываем ваш перевод
          </div>
        </div>
        <div class="payment">
          <div class="block">
            <div class="key">Оплачено</div>
            <div class="val">{{ order.paid }} ₽</div>
          </div>
          <div v-if="order.payment_type == 'card'">
            <div v-for="event in order.order_events" :key="event.id">
              <div
                v-if="
                  event.type == 'success_payment' && event.is_active == true
                "
                class="block"
              >
                <div class="key">Переведено на карту</div>
                <div class="val">{{ order.card }}</div>
              </div>
              <div
                v-if="
                  event.type == 'waiting_payment' && event.is_active == true
                "
                class="block"
              >
                <div class="key">Карта для перевода</div>
                <div class="val">{{ order.card }}</div>
              </div>
              <div
                v-if="
                  event.type == 'processing_payment' && event.is_active == true
                "
                class="block"
              >
                <div class="key">Переведено на карту</div>
                <div class="val">{{ order.card }}</div>
              </div>
            </div>
          </div>
          <div v-if="order.payment_type == 'card'">
            <div v-if="order.payment_screenshot !== null" class="block">
              <div class="key">Cкриншоты оплаты</div>
              <div class="val">
                <img :src="'/uploads/' + order.payment_screenshot" alt="" />
              </div>
            </div>
            <div v-else class="block block-image">
              <div class="key">Прикрепите скриншот оплаты</div>
              <label class="val image_upload">
                <input
                  @change="onImageSelected"
                  type="file"
                  accept=".png, .jpg, .jpeg"
                />
                <div v-if="attachment == null" class="upload">
                  <img src="/images/upload.png" alt="" />
                  <div class="text">
                    Перетащите файл или загрузите с устройства
                  </div>
                </div>
                <img :src="photoUrl" alt="" />
              </label>
            </div>
          </div>
        </div>
        <div
          v-if="order.payment_screenshot == null && order.payment_type == 'card'"
          @click="attachPaymentScreenshot()"
          class="payment-button"
        >
          <button :class="{ disabled: attachment == null }">Отправить</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapActions, mapGetters } from 'vuex';

export default {
  computed: mapGetters(['allOrders']),
  data() {
    return {
      order_id: this.$route.params.id,
      attachment: null,
      photoUrl: null,
    }
  },
  methods: {
    ...mapActions(['fetchOrders']),
    onImageSelected(event) {
      this.attachment = event.target.files[0];
      this.photoUrl = URL.createObjectURL(event.target.files[0]);
    },
    attachPaymentScreenshot() {
      let formData = new FormData();

      formData.append('payment_screenshot', this.attachment);

      axios
        .post('/api/orders/' + this.order_id + '/attach_payment', formData)
        .then((response) => {
          if (response.data == 'success') {
            window.location.reload();
          } else {
            alert(response.data);
          }
        });
    }
  },
  mounted() {
    this.fetchOrders();
  }
}
</script>

<style scoped>
.payment-button {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
}
.payment-button button {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 48px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s all;
}
.payment-button button:hover {
  transition: 0.2s all;
  background: #333;
}
.payment-button button.disabled {
  background: transparent;
  color: #a6a6a6;
  border: 1px solid #a6a6a6;
  cursor: not-allowed;
}

.image_upload .upload {
  width: 216px;
  height: 216px;
  border: 1px solid #eaeaea;
  background: #fff;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 25px;
}
.image_upload input {
  display: none;
}
.image_upload .upload .text {
  text-align: center;
  margin-top: 25px;
  color: #a6a6a6;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.order-wrapper .main .payment {
  width: 650px;
  padding-left: 32px;
  padding-top: 24px;
}
.order-wrapper .main .payment-alert {
  font-size: 14px;
  color: #df0000;
  padding-left: 32px;
  padding-top: 20px;
}
.order-wrapper .main .payment-attention {
  font-size: 14px;
  color: #ff7a00;
  padding-left: 32px;
  padding-top: 20px;
}
.order-wrapper .main .payment .block {
  background: #ffffff;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 12px;
  display: flex;
}
.order-wrapper .main .payment .block .key {
  font-size: 16px;
  color: #000;
  width: 300px;
}
.order-wrapper .main .payment .block .val {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  max-width: 300px;
}
@media screen and (max-width: 1000px) {
  .order-wrapper .main .payment {
    max-width: 650px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 600px) {
  .order-wrapper .main .payment {
    padding: 15px;
    font-size: 14px;
  }
  .order-wrapper .main .payment .block .key {
    font-size: 14px;
  }
  .order-wrapper .main .payment .block .val {
    font-size: 14px;
  }
  .order-wrapper .main .payment-attention {
    padding-left: 15px;
  }
  .order-wrapper .main .payment .block .key {
    width: 150px;
  }
  .order-wrapper .main .payment .block .val {
    width: calc(100% - 170px);
  }
  .order-wrapper .main .payment-alert {
    padding-left: 15px;
  }
  .order-wrapper .main .payment div .block-image {
    flex-direction: column;
    align-items: flex-start;
  }
  .order-wrapper .main .payment .block-image .key {
    width: 100%;
    margin-bottom: 15px;
  }
  .order-wrapper .main .payment .block-image .val {
    width: 100%;
    max-width: unset;
  }
  .image_upload .upload {
    width: 100%;
  }
  .payment-button {
    width: 100%;
    padding-bottom: 50px;
  }
}
</style>