@font-face {
    font-family: 'GolosUI';
    src: url("../fonts/Golos-UI_Regular.woff2") format("woff2"), url("../fonts/Golos-UI_Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GolosUI';
    src: url("../fonts/Golos-UI_Medium.woff2") format("woff2"), url("../fonts/Golos-UI_Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GolosUI';
    src: url("../fonts/Golos-UI_Bold.woff2") format("woff2"), url("../fonts/Golos-UI_Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'GolosUI';
    background: #F8F8F8;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

input {
    font-family: 'GolosUI';
    color: #474747;
    appearance: none;
    -webkit-appearance: none;
}

input[type='submit'] {
    -webkit-appearance: none;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.container {
    max-width: 1368px;
    margin: 0 auto;
}

.header {
    background: #232323;
}

.header-wrapper {
    padding-left: 45px;
    padding-right: 45px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right .cashback {
    margin-right: 40px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.header-right .cart {
    margin-right: 40px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.header-right .lk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    border-left: 1px solid #fff;
}

.header-right .lk span {
    color: #fff;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
}

.header-menu {
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.header-menu-item:nth-last-child(1) {
    margin-right: 0;
}

.header-menu-item:nth-last-child(1) span {
    margin-top: 1px;
}

.header-menu-item span {
    font-size: 14px;
    color: #fff;
    margin-top: 2px;
    font-weight: 500;
}

.footer {
    background: #f4f4f4;
}

.footer-wrapper {
    height: 50px;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left {
    display: flex;
}

.footer-left a {
    display: block;
    margin-right: 25px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.footer-left a:nth-last-child(1) {
    margin-right: 0;
}

.footer-right .copyright {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.mobile-menu {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background: #232323;
    display: none;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 1040px) {
    .header-right .cashback {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .header-right .cashback {
        display: block;
        margin-right: 0;
    }
    .header-menu {
        display: none;
    }
    .header-right .cart {
        display: none;
    }
    .header-right .lk {
        display: none;
    }
    .mobile-menu {
        display: flex;
        align-items: flex-end;
        padding-bottom: 15px;
    }
    .mobile-menu a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        font-size: 14px;
    }
    .mobile-menu a.cart {
        margin-bottom: -1px;
    }
    .mobile-menu a.cart span {
        font-size: 20px;
        margin-bottom: 2px;
        line-height: 1;
        margin-top: unset;
    }
    .mobile-menu a span {
        margin-top: 5px;
    }
    .mobile-menu a.lk span {
        margin-top: 1px;
    }
}

@media screen and (max-width: 500px) {
    .header-wrapper {
        padding-left: 12px;
        padding-right: 12px;
    }
    .footer-wrapper {
        padding: 15px;
        height: unset;
        align-items: flex-end;
    }
    .footer-left {
        flex-direction: column;
    }
    .footer-left a:nth-child(1) {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 600px) {
    .main-wrapper.disabled {
        display: none;
    }
    .main-wrapper.active .main-wrapper-top {
        display: none;
    }
}