<template>
  <div>
    <V-header />
    <div class="about">
      <div class="container">
        <div class="title">О сервисе</div>
        <div class="about-wrapper">
          <div class="about-block">
            <div class="title">Как купить</div>
            <div class="text"></div>
          </div>
          <div class="about-block">
            <div class="title">О кэшбэке</div>
            <div class="text">
              Кэшбэк 5% действует на все заказы в месяц при условии, что общее
              количество купленных шайб превышает 1200шт.
              <br /><br />
              При заказе клиентом микс Коробки 240шт но разных позиций (больше
              3-х) то цена на такой короб будет 140 рублей . Важно, что это
              работает только в случае заказа до 5 коробок, не месячного, а
              именно за раз если клиент заказал 5 коробок и одна из них микс -
              то цена остаётся прежней 125₽!
              <br /><br />
              Так же бонусная система: если человек в прошлый месяц заказал 5
              коробок, а в этот месяц 7 коробок, то он зарабатывает
              дополнительный кэшбэк 10% на разницу (то есть 10% от двух коробок)
              <br /><br />
              На день рождения каждый клиент получает от нас подарок 120шт
              бесплатных шайб (надо сделать напоминалку и/или автопоздравлялку)
            </div>
          </div>
        </div>
      </div>
    </div>
    <V-footer />
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.about {
  min-height: calc(100vh - 115px);
  padding-top: 100px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.about .title {
  font-size: 28px;
  margin-bottom: 25px;
}
.about-block {
  margin-bottom: 25px;
  background: #fff;
  border-radius: 6px;
  padding: 32px;
  min-height: 150px;
}
.about-block .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}
.about-block .text {
  font-size: 16px;
  line-height: 140%;
}
</style>