<template>
  <div>
    <V-header />
    <MobileMenu />
    <div class="account">
      <div class="container">
        <div class="title">Личные данные</div>
        <div class="block">
          <form>
            <div class="item">
              <label>Имя</label>
              <input
                type="text"
                id="name"
                @keyup="updateUserInfo"
                :value="this.userInfo.name"
              />
              <div v-for="error in errors.name" :key="error" class="error">
                {{ error }}
              </div>
            </div>
            <div class="item">
              <label>Фамилия</label>
              <input
                type="text"
                id="surname"
                @keyup="updateUserInfo"
                :value="this.userInfo.surname"
              />
              <div v-for="error in errors.surname" :key="error" class="error">
                {{ error }}
              </div>
            </div>
            <div class="item">
              <label>Отчество</label>
              <input
                type="text"
                id="father_name"
                @keyup="updateUserInfo"
                :value="this.userInfo.father_name"
              />
              <div
                v-for="error in errors.father_name"
                :key="error"
                class="error"
              >
                {{ error }}
              </div>
            </div>
            <div class="item">
              <label>Дата рождения</label>
              <input
                type="date"
                id="birthday"
                @keyup="updateUserInfo"
                :value="this.userInfo.birthday"
              />
              <div v-for="error in errors.birthday" :key="error" class="error">
                {{ error }}
              </div>
            </div>
            <div class="item">
              <label>Номер телефона</label>
              <input
                type="tel"
                id="phone"
                @keyup="updateUserInfo"
                :value="this.userInfo.phone"
              />
              <div v-for="error in errors.phone" :key="error" class="error">
                {{ error }}
              </div>
            </div>
            <div class="item-button">
              <input
                type="submit"
                @click.prevent="editUser"
                value="Изменить"
                :class="{ disabled: isInfoChanged == false }"
              />
            </div>
          </form>
        </div>
        <div class="title">Последние доставки</div>
        <div class="block delivery">
          <div
            v-for="delivery in allDeliveries"
            :key="delivery.id"
            class="item"
          >
            <div class="top">
              <div class="type">
                <span>{{ delivery.type }}</span>
                Доставка до ПВЗ
              </div>
              <div class="city">{{ delivery.city }}</div>
            </div>
            <div class="bottom">
              <div class="address">
                {{ delivery.adress }}
              </div>
            </div>
          </div>
          <button class="item-add">Добавить доставку</button>
        </div>
      </div>
    </div>
    <V-footer />
  </div>
</template>

<script>
import VFooter from '../components/V-footer.vue';
import VHeader from '../components/V-header.vue';
import { mapGetters, mapActions } from 'vuex';
import axios from 'axios';

export default {
  components: { VHeader, VFooter },
  data() {
    return {
      userInfo: '',
      isInfoChanged: false,
      errors: {
        name: [],
        surname: [],
        father_name: [],
        birthday: [],
        phone: []
      },
      updatedUser: {
        name: '',
        surname: '',
        father_name: '',
        birthday: '',
        phone: ''
      }
    }
  },
  methods: {
    ...mapActions(['fetchDeliveries']),
    setUserInfo() {
      this.userInfo = this.$store.state.user.user;
    },
    updateUserInfo() {

      this.isInfoChanged = true;

      let newName = document.getElementById('name').value;
      let newSurname = document.getElementById('surname').value;
      let newFather_name = document.getElementById('father_name').value;
      let newBirthday = document.getElementById('birthday').value;
      let newPhone = document.getElementById('phone').value;

      this.updatedUser.name = newName;
      this.updatedUser.surname = newSurname;
      this.updatedUser.father_name = newFather_name;
      this.updatedUser.birthday = newBirthday;
      this.updatedUser.phone = newPhone;

    },
    validation() {
      let phoneRegExp = /[a-zA-Z]/g;
      this.errors.name = [];
      if (this.updatedUser.name.length < 2) {
        this.errors.name.push('В имени должно быть минимум 2 символа');
        return false;
      }
      this.errors.surname = [];
      if (this.updatedUser.surname.length < 6) {
        this.errors.surname.push('В фамилии должно быть минимум 6 символов');
        return false;
      }
      this.errors.father_name = [];
      if (this.updatedUser.father_name.length < 4) {
        this.errors.father_name.push('В отчестве должно быть минимум 4 символа');
        return false;
      }
      this.errors.phone = [];
      if (this.updatedUser.phone.length < 10) {
        this.errors.phone.push('В номере должно быть минимум 10 символов');
        return false;
      } else if (phoneRegExp.test(this.updatedUser.phone)) {
        this.errors.phone.push('Номер должен состоять только из цифр и символов');
        return false;
      }
      return true;
    },
    editUser() {
      if (this.validation() && this.isInfoChanged) {
        axios
          .patch('/api/user/' + this.userInfo.id, this.updatedUser)
          .then((response) => {
            this.$store.dispatch('updateUser', response.data);
          })
      }
      
    }
  },
  computed: {
    ...mapGetters(['allDeliveries']),
  },
  mounted() {
    this.setUserInfo();
    this.fetchDeliveries(this.$store.state.user.user.id);
  }

}
</script>

<style scoped>
.account {
  min-height: calc(100vh - 115px);
  padding-top: 90px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.account .title {
  font-size: 28px;
  color: #000;
  padding-left: 32px;
  margin-bottom: 24px;
}

.account .block {
  background: #fff;
  margin-bottom: 80px;
  padding: 32px;
}

.account .block form .item {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
  flex-wrap: wrap;
}

.account .block form .item .error {
  margin-top: 10px;
  font-size: 12px;
  color: #df0000;
  padding-left: 174px;
}

.account .block form .item label {
  width: 150px;
  font-size: 16px;
  color: #000;
  margin-right: 24px;
}

.account .block form .item input {
  color: #474747;
  font-size: 16px;
  background: #f6f6f6;
  width: 270px;
  padding: 0px 14px;
  height: 42px;
  border: 1px solid #ddd;
  font-family: "GolosUI";
}

.account .block form .item-button {
  padding-left: 164px;
}

.account .block form .item-button input {
  border: none;
  height: 50px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #000;
  color: #fff;
  transition: 0.2s all;
}

.account .block form .item-button input.disabled {
  background: transparent;
  border: 1px solid #a6a6a6;
  color: #a6a6a6;
  pointer-events: none;
}

.account .block form .item-button input:hover {
  background: #333;
  transition: 0.2s all;
}

.account .block.delivery {
  display: flex;
  flex-wrap: wrap;
}

.account .block.delivery .item {
  width: 48%;
  margin-right: 4%;
  margin-bottom: 4%;
  border: 1px solid #000;
  border-radius: 6px;
}

.account .block.delivery .item:nth-child(2n) {
  margin-right: 0;
}

.account .block.delivery .item .top {
  border-radius: 6px 6px 0 0;
  background: #f7f7f7;
  padding: 16px;
}

.account .block.delivery .item .top .type {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 8px;
}

.account .block.delivery .item .top .type span {
  padding-right: 20px;
  position: relative;
}

.account .block.delivery .item .top .type span:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #000;
  right: 6px;
}

.account .block.delivery .item .top .city {
  font-size: 14px;
  color: #000;
}

.account .block.delivery .item .bottom {
  border: 0 0 6px 6px;
  padding: 16px;
}

.account .block.delivery .item .bottom .address {
  color: #000;
  font-size: 12px;
}

.account .block.delivery .item-add {
  width: 100%;
  border: 1px solid #ddd;
  background: #f7f7f7;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  color: #a6a6a6;
  height: 70px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .account {
    width: calc(100% - 80px);
    padding-top: 75px;
  }
}

@media screen and (max-width: 600px) {
  .account .block form .item label {
    width: 140px;
  }
  .account .block form .item input {
    width: 200px;
  }
  .account .block form .item-button {
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .account .title {
    font-size: 22px;
  }
}

@media screen and (max-width: 520px) {
  .account .block form .item input {
    width: 180px;
  }
}

@media screen and (max-width: 500px) {
  .account {
    width: calc(100% - 30px);
    padding-top: 25px;
  }
  .account .title {
    padding-left: 0;
  }
  .account .block form .item input {
    width: 100%;
  }
  .account .block form .item label {
    width: unset;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .account .block form .item {
    margin-bottom: 20px;
  }
  .account .block {
    padding: 12px;
  }
  .account .block.delivery .item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }
  .account .block.delivery {
    padding: 32px;
  }
}

</style>