<template>
  <div>
    <V-header />
    <MobileMenu />
    <div class="cart">
      <div class="container">
        <div class="title">Корзина</div>
        <div class="cart-wrapper">
          <div class="left">
            <div
              v-for="(product, index) in getCart"
              :key="product.id"
              class="item"
            >
              <div class="photo">
                <img :src="'/images/' + product.photo" alt="" />
              </div>
              <div class="name">
                {{ product.parent_name }} {{ product.name }}
              </div>
              <div class="count">
                <button @click.prevent="updateQuantity(index, '-')">
                  <img src="/images/countminus.png" alt="" />
                </button>
                <input
                  type="number"
                  @change="updateQuantity(index, $event.target.value)"
                  :value="product.quantity"
                />
                <button @click.prevent="updateQuantity(index, '+')">
                  <img src="/images/countplus.png" alt="" />
                </button>
              </div>
              <div class="summ">
                {{ calculatePrice(product, product.quantity) * product.quantity }} ₽
              </div>
              <div @click="removeItem(index)" class="delete">Удалить</div>
            </div>
            <div v-if="getCart == 0" class="empty-cart">
              Ваша корзина пока пуста.<br />
              <router-link class="empty-cart-button" to="/products"
                >Посмотреть товары</router-link
              >
            </div>
          </div>
          <div class="right">
            <div class="top">
              <div class="text">Сумма заказа</div>
              <div class="summ">{{ getCartTotal }} ₽</div>
            </div>
            <div class="next" @click="validation">Оформить заказ</div>
          </div>
        </div>
      </div>
    </div>
    <V-footer />
  </div>
</template>

<script>

import { mapGetters } from 'vuex';
import Product from "../services/Product";

export default {
  data() {
    return {

    }
  },
  computed: {
    ...mapGetters(['getCart']),
    ...mapGetters(['getCartTotal']),
    ...mapGetters(['getCartCount'])
  },
  methods: {
    validation() {
      let cartCount = this.$store.getters['getCartCount'];
      if (cartCount > 0) {
        this.$store.dispatch('setOrderCart');

        this.$router.push({ 'name': 'CheckoutBill' });
      }
    },
    updateQuantity(index, val) {
      this.$store.commit('updateQuantity', { index, val });
    },
    removeItem(index) {
      this.$store.commit('removeFromCart', index);
    },
    calculatePrice(product, count) {
      return Product.getProductPrice(product, count);
    },
  }
}
</script>

<style scoped>
.cart {
  min-height: calc(100vh - 115px);
  padding-top: 50px;
}
.cart .title {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  padding-left: 45px;
}

.empty-cart {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}

.empty-cart-button {
  margin-left: 0;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  transition: 0.2s all;
  color: #fff;
  font-size: 16px;
  width: 200px;
  height: 50px;
  margin-top: 40px;
}
.empty-cart-button:hover {
  transition: 0.2s all;
  background: #333;
}
.cart-wrapper {
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart-wrapper .left {
  width: 950px;
}
.cart-wrapper .left .item {
  width: 100%;
  background: #fff;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
  margin-bottom: 24px;
  display: grid;
  position: relative;
  grid-template-columns: 160px 300px 200px calc(100% - 660px);
  padding: 24px;
}
.cart-wrapper .left .item .delete {
  position: absolute;
  right: 24px;
  bottom: 24px;
  cursor: pointer;
  font-weight: 500;
  color: #d00000;
}
.cart-wrapper .left .item .photo {
  width: 160px;
}

.cart-wrapper .left .item .photo img {
  width: 100%;
}
.cart-wrapper .left .item .summ {
  margin-right: 0;
  margin-left: auto;
  font-size: 20px;
}
.cart-wrapper .left .item .name {
  font-size: 20px;
  padding-left: 24px;
}
.cart-wrapper .left .item .count {
  margin-top: -9px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-wrapper .left .item .count button {
  background: none;
  border: none;
  width: 48px;
  padding: 0;
  height: 48px;
  cursor: pointer;
  outline: none;
}
.cart-wrapper .left .item .count input {
  height: 34px;
  text-align: center;
  width: 48px;
  background: #f6f6f6;
  border: 2px solid #ddd;
  margin: 0px 16px;
}
.cart-wrapper .left .item .count input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.cart-wrapper .left .item .count input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.cart-wrapper .right {
  width: 300px;
  padding: 14px 24px;
  background: #fff;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.cart-wrapper .right .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.cart-wrapper .right .top .text {
  font-size: 16px;
  color: #000;
}
.cart-wrapper .right .top .summ {
  font-size: 20px;
  color: #000;
}
.cart-wrapper .right .next {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  transition: 0.2s all;
  color: #fff;
  font-size: 16px;
  width: 200px;
  height: 50px;
}
.cart-wrapper .right .next:hover {
  transition: 0.2s all;
  background: #333;
}

@media screen and (max-width: 1368px) {
  .cart-wrapper .left {
    width: calc(100% - 320px);
  }
  .cart-wrapper .left .item {
    grid-template-columns: 160px 30% 30% calc(40% - 160px);
  }
}

@media screen and (max-width: 1000px) {
  .cart-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
  }
  .cart-wrapper .left {
    width: 100%;
  }
  .cart-wrapper .right {
    width: 100%;
    margin-top: 30px;
  }
  .cart .title {
    padding-left: 25px;
  }
}

@media screen and (max-width: 800px) {
  .cart-wrapper .left .item .count button {
    width: 35px;
    height: 35px;
  }
  .cart-wrapper .left .item .count input {
    margin: 0px 10px;
  }
  .cart {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 625px) {
  .cart-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .cart .title {
    padding-left: 15px;
  }
  .cart-wrapper .right {
    position: fixed;
    bottom: 65px;
    left: 0;
    width: 100%;
  }
  .cart-wrapper .right {
    padding: 15px;
  }
  .cart-wrapper .right .top {
    margin-bottom: 15px;
  }
  .cart-wrapper .left .item {
    grid-template-columns: unset;
    display: flex;
    flex-direction: column;
  }
  .cart-wrapper .left .item .name {
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .cart-wrapper .left .item .count {
    justify-content: flex-start;
  }
  .cart {
    padding-bottom: 150px;
  }
  .cart-wrapper .left .item .count input {
    position: absolute;
    right: 40px;
    bottom: 50px;
    background: none;
    border: none;
    width: 30px;
    height: unset;
    text-align: left;
    font-size: 14px;
    margin: 0;
  }
  .cart-wrapper .left .item .delete {
    position: absolute;
    right: 24px;
    top: 24px;
    bottom: unset;
  }
  .cart-wrapper .left .item .count button {
    width: 48px;
    height: 48px;
  }
  .cart-wrapper .left .item .count button:nth-child(1) {
    margin-right: 24px;
  }
  .cart-wrapper .left .item .summ {
    bottom: 24px;
    right: 24px;
    position: absolute;
  }
  .cart-wrapper .left .item .summ::after {
    content: 'шт.';
    position: absolute;
    top: -20px;
    right: 0;
    font-size: 14px;
    font-weight: 400;
  }
}

</style>
