<template>
  <div>
    <V-header />
    <MobileMenu />
    <div class="catalog">
      <div class="container">
        <div class="catalog-title">Каталог</div>
        <div class="catalog-wrapper">
          <div
            v-for="product in allProducts"
            :key="product.id"
            @click="goToProduct(product.id)"
            class="catalog-item"
          >
            <div class="sup">{{ product.name }}</div>
            <div class="main">
              <div class="photo">
                <img
                  :src="product.product_types[0].photo"
                  alt=""
                />
              </div>
              <div class="types">
                <div
                  v-for="(product_type, index) in product.product_types"
                  :key="product_type.id"
                  :class="{ active: index === 0 }"
                  class="item"
                >
                  <img :src="'/images/' + product_type.photo" alt="" />
                </div>
              </div>
              <div class="bottom">
                <div class="name">{{ product.product_types[0].name }}</div>
                <div class="price">{{ product.product_types[0].min_price }} ₽</div>
              </div>
              <div class="show-more">
                Подробнее
                <svg
                  width="17"
                  height="16"
                  viewBox="0 0 17 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="4.96834"
                    y="13.8376"
                    width="9"
                    height="1"
                    transform="rotate(-45 4.96834 13.8376)"
                    fill="white"
                    stroke="white"
                  />
                  <rect
                    x="11.3506"
                    y="8.86955"
                    width="9"
                    height="1"
                    transform="rotate(-135 11.3506 8.86955)"
                    fill="white"
                    stroke="white"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <V-footer />
  </div>
</template>

<script>

import {mapGetters, mapActions} from 'vuex';

export default {
  computed: mapGetters(['allProducts']),
  methods: {
    ...mapActions(['fetchProducts']),
    goToProduct(id) {
        this.$router.push({name: 'Product', params:{id: id}})
    }
  },
  mounted() {
        this.fetchProducts();
    }
}
</script>

<style scoped>
.catalog {
  min-height: calc(100vh - 115px);
  padding-top: 60px;
}

.catalog-title {
  font-size: 28px;
  padding-left: 45px;
}

.catalog-wrapper {
  margin-top: 40px;
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  margin-right: 35px;
  color: #000;
  width: 310px;
  cursor: pointer;
  margin-bottom: 70px;
}

.catalog-item .sup {
  font-size: 20px;
  margin-bottom: 20px;
}

.catalog-item .main {
  background: #fff;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
  padding: 25px;
  position: relative;
  height: 500px; /* 470 ! */
}

.catalog-item .main .photo {
  padding: 40px 0;
}

.catalog-item .main .types {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-item .main .types .item {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
}

.catalog-item .main .types .item.active {
  border: 1px solid #fa3131;
}

.catalog-item .main .bottom {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-item .main .bottom .name {
  font-size: 20px;
}

.catalog-item .main .bottom .price {
  font-size: 20px;
}

.catalog-item .show-more {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  transition: 0.4s all;
  opacity: 0;
}

.catalog-item .show-more svg {
  margin-left: 10px;
}

.catalog-item:hover .main {
  border-radius: 6px;
}

.catalog-item:hover .show-more {
  opacity: 1;
  transition: 0.4s all;
  border-radius: 6px;
}

.catalog-item:nth-child(4n + 4) {
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
.catalog-item {
  margin-right: 35px !important;
}
.catalog-item:nth-child(3n) {
  margin-right: 0 !important;
}
}

@media screen and (max-width: 800px) {
  .catalog-item {
    width: 45%;
    margin-right: 10% !important;
  }
  .catalog-item:nth-child(2n) {
    margin-right: 0 !important;
  }
  .catalog-wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
  .catalog-title {
    padding-left: 24px;
  }
  .catalog-item .main {
    height: unset;
  }
}

@media screen and (max-width: 600px) {
  .catalog-item {
    width: 48%;
    margin-right: 4% !important;
  }
  .catalog-title {
    font-size: 22px;
  }
}

@media screen and (max-width: 500px) {
  .catalog-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
  }
  .catalog-title {
    padding-left: 15px;
  }
  .catalog {
    padding-top: 25px;
  }
  .catalog-item {
    margin-bottom: 60px;
    margin-right: 0 !important;
    width: 100%;
  }
  .catalog-item .main .photo {
    width: calc(100% - 100px);
  }
  .catalog-item .main .photo img {
    width: 100%;
  }
  .catalog-item .main .types {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 24px;
    top: 24px;
  }
  .catalog-item .main .types .item {
    margin-bottom: 30%;
  }
  .catalog-item .main .types .item:nth-last-child(1) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 360px) {
  .catalog-item .main .types .item {
    margin-bottom: 10px;
  }
}

</style>
