<template>
  <div>
    <V-header />
    <Mobile-menu />
    <div class="checkout">
      <div class="container">
        <div class="checkout-wrapper">
          <div class="left">
            <div class="checkout-title">Оформление заказа</div>
            <div class="steps">
              <div class="item" :class="stepBill">
                <div class="number">1</div>
                <div class="name">
                  Тип заказа
                  <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="2.20605"
                      y="9.34108"
                      width="7.39163"
                      height="2.46388"
                      transform="rotate(45 2.20605 9.34108)"
                      fill="#00AB4F"
                    />
                    <rect
                      x="3.94824"
                      y="14.5678"
                      width="14.7833"
                      height="2.46388"
                      transform="rotate(-45 3.94824 14.5678)"
                      fill="#00AB4F"
                    />
                  </svg>
                </div>
              </div>
              <div class="item" :class="stepUser">
                <div class="number">2</div>
                <div class="name">
                  Получатель
                  <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="2.20605"
                      y="9.34108"
                      width="7.39163"
                      height="2.46388"
                      transform="rotate(45 2.20605 9.34108)"
                      fill="#00AB4F"
                    />
                    <rect
                      x="3.94824"
                      y="14.5678"
                      width="14.7833"
                      height="2.46388"
                      transform="rotate(-45 3.94824 14.5678)"
                      fill="#00AB4F"
                    />
                  </svg>
                </div>
              </div>
              <div class="item" :class="stepDelivery">
                <div class="number">3</div>
                <div class="name">
                  Доставка
                  <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="2.20605"
                      y="9.34108"
                      width="7.39163"
                      height="2.46388"
                      transform="rotate(45 2.20605 9.34108)"
                      fill="#00AB4F"
                    />
                    <rect
                      x="3.94824"
                      y="14.5678"
                      width="14.7833"
                      height="2.46388"
                      transform="rotate(-45 3.94824 14.5678)"
                      fill="#00AB4F"
                    />
                  </svg>
                </div>
              </div>
              <div class="item" :class="stepPayment">
                <div class="number">4</div>
                <div class="name">
                  Оплата
                  <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="2.20605"
                      y="9.34108"
                      width="7.39163"
                      height="2.46388"
                      transform="rotate(45 2.20605 9.34108)"
                      fill="#00AB4F"
                    />
                    <rect
                      x="3.94824"
                      y="14.5678"
                      width="14.7833"
                      height="2.46388"
                      transform="rotate(-45 3.94824 14.5678)"
                      fill="#00AB4F"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <router-view></router-view>
          </div>
          <div class="right">
            <div class="title">Состав заказа</div>
            <div class="sup">
              <div class="count">{{ getCartCount }} позиции</div>
              <div class="summ">{{ getCartTotal }} ₽</div>
            </div>
            <div class="checkout-cart-wrapper">
            <div v-for="product in getCart" :key="product.id" class="item">
              <div class="photo">
                <img :src="'/images/' + product.photo" alt="" />
              </div>
              <div class="text">
                <div class="name">
                  {{ product.parent_name }} {{ product.name }}
                </div>
                <div class="summ">
                  {{ calculatePrice(product, product.quantity) * product.quantity }} ₽
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <V-footer />
  </div>
</template>

<script>

import { mapGetters } from 'vuex';
import Product from "../services/Product";

export default {
  data() {
    return {
      stepBill: 'active',
      stepUser: '',
      stepDelivery: '',
      stepPayment: '',
      isMobile: false,
    }
  },
  computed: {
    ...mapGetters(['getCart', 'getCartTotal', 'getCartCount']),
  },
  methods: {
    currentRouteName(currentLink) {
      switch (currentLink) {
        case '/checkout/bill':
          this.stepBill = 'active';
          this.stepUser = '';
          this.stepDelivery = '';
          this.stepPayment = '';
          break;
        case '/checkout/user':
          this.stepBill = 'done';
          this.stepUser = 'active';
          this.stepDelivery = '';
          this.stepPayment = '';
          break;
        case '/checkout/delivery':
          this.stepBill = 'done';
          this.stepUser = 'done';
          this.stepDelivery = 'active';
          this.stepPayment = '';
          break;
        case '/checkout/payment':
          this.stepBill = 'done';
          this.stepUser = 'done';
          this.stepDelivery = 'done';
          this.stepPayment = 'active';
          break;
      }
    },
    calculatePrice(product, count) {
      return Product.getProductPrice(product, count);
    },
  },
  watch: {
    $route(to, from) {
      this.currentRouteName(to.fullPath);
    }
  },
  mounted() {
    let currentLink = window.location.pathname;
    switch (currentLink) {
      case '/checkout/bill':
        this.stepBill = 'active';
        this.stepUser = '';
        this.stepDelivery = '';
        this.stepPayment = '';
        break;
      case '/checkout/user':
        this.stepBill = 'done';
        this.stepUser = 'active';
        this.stepDelivery = '';
        this.stepPayment = '';
        break;
      case '/checkout/delivery':
        this.stepBill = 'done';
        this.stepUser = 'done';
        this.stepDelivery = 'active';
        this.stepPayment = '';
        break;
      case '/checkout/payment':
        this.stepBill = 'done';
        this.stepUser = 'done';
        this.stepDelivery = 'done';
        this.stepPayment = 'active';
        break;
    }
      if(window.innerWidth < 700) {
        this.detectMobileVersion = true;
      } else {
        this.detectMobileVersion = false;
      }
  }
}
</script>

<style>
.checkout {
  min-height: calc(100vh - 115px);
  padding-top: 40px;
}
.checkout-title {
  font-size: 20px;
  color: #000;
  margin-bottom: 40px;
}
.checkout-wrapper {
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.checkout-wrapper .left {
  max-width: 764px;
}
.checkout-wrapper .left .steps {
  display: flex;
  align-items: center;
  margin-bottom: 52px;
}
.checkout-wrapper .left .steps .item {
  width: 164px;
  height: 44px;
  background: #fff;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin-right: 35px;
  position: relative;
  display: flex;
  align-items: center;
}
.checkout-wrapper .left .steps .item:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -35px;
  height: 1px;
  width: 35px;
  background: #000;
}
.checkout-wrapper .left .steps .item:nth-last-child(1) {
  margin-right: 0;
}
.checkout-wrapper .left .steps .item:nth-last-child(1):after {
  display: none;
}
.checkout-wrapper .left .steps .item.active {
  border: 1px solid #000;
}
.checkout-wrapper .left .steps .item.active .number {
  border-right: 1px solid #000;
}
.checkout-wrapper .left .steps .item .number {
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ededed;
  height: 100%;
  font-size: 14px;
}
.checkout-wrapper .left .steps .item .name {
  font-size: 14px;
  padding-left: 12px;
  display: flex;
  align-items: center;
}
.checkout-wrapper .left .steps .item .name svg {
  margin-left: 10px;
  display: none;
}
.checkout-wrapper .left .steps .item.done .name svg {
  display: block;
}
.checkout-wrapper .left .next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 1px solid #232323;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  margin-right: 0;
  margin-left: auto;
  margin-top: 40px;
}
.checkout-wrapper .right {
  width: 300px;
  background: #ffffff;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
.checkout-wrapper .right .title {
  font-size: 20px;
  margin-bottom: 24px;
}
.checkout-wrapper .right .sup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid #ccc;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 25px;
}
.checkout-wrapper .right .item {
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 0;
  margin-top: 15px;
  background: #fff;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
}
.checkout-wrapper .right .item .photo {
  width: 100px;
  margin-right: 24px;
}

.checkout-wrapper .right .item .photo img {
  width: 100%;
}

.checkout-wrapper .right .item .text .name {
  color: #0f0f0f;
  margin-bottom: 16px;
}
.checkout-wrapper .right .item .text .summ {
  color: #0f0f0f;
}
.checkout .next {
  margin-bottom: 80px;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .checkout-wrapper .left {
    max-width: 600px;
  }
  .checkout-wrapper .left .steps .item .name {
    padding-left: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .checkout-wrapper .left {
    max-width: unset;
    width: 100%;
  }
  .checkout-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
  .checkout-wrapper .left .steps .item {
    margin-right: 10px;
  }
  .checkout-cart-wrapper {
    overflow-x: scroll;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .checkout-wrapper {
    flex-direction: column;
  }
  .checkout-wrapper .right {
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 0;
  }
  .checkout .next {
    margin-bottom: 40px;
  }
  .checkout-wrapper .right .item {
    display: inline-block;
    width: 200px;
    min-width: 200px;
    padding: 12px;
    margin-top: 0;
    margin-right: 15px;
  }
}
@media screen and (max-width: 600px) {
  .checkout-wrapper .left .steps {
    display: none;
  }
  .checkout-title {
    display: none;
  }
  .checkout-wrapper .right {
    display: none;
  }
  .checkout-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .checkout {
    min-height: calc(100vh - 140px);
  }
  .checkout-wrapper .left .next {
    display: none;
  }
}

</style>
