<template>
  <div>
    <V-header />
    <MobileMenu />
    <div class="error404">
      <div class="left"></div>
      <div class="right">
        <div class="title">Такой страницы не существует</div>
        <router-link to="/" class="button">На главную</router-link>
      </div>
    </div>
    <V-footer />
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.error404 {
  height: calc(100vh - 115px);
  position: relative;
}
.error404 .left {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: url(/images/404-black.png) no-repeat top 50% right 0,
    url(/images/404.png) top 50% right 0;
}
.error404 .right {
  padding-left: calc(50% + 20px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error404 .right .title {
  font-size: 28px;
  margin-bottom: 42px;
  line-height: 0.7;
}
.error404 .right .button {
  width: 200px;
  height: 50px;
  color: #fff;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all;
}
.error404 .right .button:hover {
  background: #333;
  transition: 0.2s all;
}

@media screen and (max-width: 600px) {
.error404 .left {
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
}
.error404 .right {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 65px;
  height: unset;
  background: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error404 .right .title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 25px;
}
}

</style>