<template>
  <div class="auth auth-login">
    <div class="container">
      <div class="auth-wrapper">
        <div class="left">
          <svg
            class="logo"
            width="88"
            height="21"
            viewBox="0 0 88 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.04 15.52V11.52C1.49333 11.7333 2.2 11.9267 3.16 12.1C4.12 12.2733 5.13333 12.36 6.2 12.36C7.09333 12.36 7.71333 12.32 8.06 12.24C8.42 12.16 8.6 12.0067 8.6 11.78C8.6 11.7133 8.58667 11.66 8.56 11.62C8.54667 11.5667 8.5 11.52 8.42 11.48C8.35333 11.44 8.28 11.4133 8.2 11.4C8.13333 11.3733 8.02 11.3467 7.86 11.32C7.71333 11.28 7.56 11.2467 7.4 11.22C7.25333 11.1933 7.04667 11.1533 6.78 11.1C6.52667 11.0467 6.28 10.9933 6.04 10.94L5.36 10.8C3.72 10.48 2.54667 9.92667 1.84 9.14C1.14667 8.35333 0.8 7.44 0.8 6.4C0.8 4.86667 1.4 3.7 2.6 2.9C3.8 2.1 5.54 1.7 7.82 1.7C10.1133 1.7 11.96 1.92 13.36 2.36V6.28C11.7333 5.90667 10.06 5.72 8.34 5.72C7.52667 5.72 6.94667 5.76 6.6 5.84C6.26667 5.92 6.1 6.06 6.1 6.26C6.1 6.46 6.22667 6.60667 6.48 6.7C6.74667 6.79333 7.22667 6.9 7.92 7.02C8.62667 7.12667 9.22 7.24 9.7 7.36L10.44 7.54C11.24 7.72667 11.9067 7.97333 12.44 8.28C12.9867 8.57333 13.3933 8.91333 13.66 9.3C13.94 9.67333 14.1333 10.04 14.24 10.4C14.3467 10.76 14.4 11.16 14.4 11.6C14.4 13.1333 13.74 14.3 12.42 15.1C11.1133 15.9 9.26667 16.3 6.88 16.3C4.54667 16.3 2.6 16.04 1.04 15.52ZM25.7466 5.8V9.32H22.0866V10.86C22.0866 11.4867 22.2266 11.9333 22.5066 12.2C22.7866 12.4533 23.3399 12.58 24.1666 12.58C24.7266 12.58 25.2599 12.5 25.7666 12.34V15.86C24.7399 16.1533 23.6266 16.3 22.4266 16.3C20.5866 16.3 19.2799 15.98 18.5066 15.34C17.7466 14.7 17.3666 13.7333 17.3666 12.44V9.32H15.1266V5.8H17.3666V3.64L22.0866 2.24V5.8H25.7466ZM32.2025 1.14C32.6558 1.46 32.8825 1.96 32.8825 2.64C32.8825 3.32 32.6558 3.82667 32.2025 4.16C31.7625 4.48 31.0692 4.64 30.1225 4.64C28.2825 4.64 27.3625 3.97333 27.3625 2.64C27.3625 1.32 28.2758 0.66 30.1025 0.66C31.0625 0.66 31.7625 0.82 32.2025 1.14ZM32.4825 5.8V16H27.7625V5.8H32.4825ZM44.5314 7.18V5.8H49.1314V15.22C49.1314 16.0733 48.9781 16.8133 48.6714 17.44C48.3781 18.08 47.9847 18.5867 47.4914 18.96C47.0114 19.3467 46.4047 19.6533 45.6714 19.88C44.9381 20.12 44.2047 20.28 43.4714 20.36C42.7381 20.44 41.9114 20.48 40.9914 20.48C38.8981 20.48 37.1447 20.3 35.7314 19.94V16.38C37.1314 16.7667 38.6781 16.96 40.3714 16.96C41.9181 16.96 42.9781 16.78 43.5514 16.42C44.1247 16.0733 44.4114 15.5 44.4114 14.7V14.4H44.3714C44.0247 14.8533 43.4914 15.2333 42.7714 15.54C42.0514 15.8467 41.2381 16 40.3314 16C36.3181 16 34.3114 14.36 34.3114 11.08C34.3114 7.42667 36.2847 5.6 40.2314 5.6C42.1514 5.6 43.5647 6.12667 44.4714 7.18H44.5314ZM41.7714 8.92C40.0914 8.92 39.2514 9.54 39.2514 10.78C39.2514 12.0467 40.1114 12.68 41.8314 12.68C42.6581 12.68 43.2914 12.52 43.7314 12.2C44.1847 11.8667 44.4114 11.3933 44.4114 10.78C44.4114 9.54 43.5314 8.92 41.7714 8.92ZM72.2144 9.34V16H67.5344V10.72C67.5344 10.1067 67.4277 9.68667 67.2144 9.46C67.0144 9.23333 66.641 9.12 66.0944 9.12C65.401 9.12 64.8944 9.28667 64.5744 9.62C64.2544 9.94 64.0944 10.4933 64.0944 11.28V16H59.4544V10.72C59.4544 10.1067 59.3344 9.68667 59.0944 9.46C58.8677 9.23333 58.481 9.12 57.9344 9.12C57.2277 9.12 56.7344 9.28667 56.4544 9.62C56.1744 9.95333 56.0344 10.5067 56.0344 11.28V16H51.3344V5.8H55.8744V7.4H55.9344C56.401 6.72 56.961 6.25333 57.6144 6C58.2677 5.73333 59.0677 5.6 60.0144 5.6C61.9877 5.6 63.241 6.26667 63.7744 7.6C64.2944 6.82667 64.8944 6.3 65.5744 6.02C66.2544 5.74 67.101 5.6 68.1144 5.6C69.501 5.6 70.5277 5.90667 71.1944 6.52C71.8744 7.12 72.2144 8.06 72.2144 9.34ZM82.5417 12.3V12C81.8884 11.9067 81.2951 11.86 80.7617 11.86C80.0151 11.86 79.4884 11.9133 79.1817 12.02C78.8751 12.1133 78.7217 12.2733 78.7217 12.5C78.7217 12.9533 79.3151 13.18 80.5017 13.18C81.8617 13.18 82.5417 12.8867 82.5417 12.3ZM87.2617 9.8V16H82.8017V14.54H82.7417C82.4751 14.9667 81.9617 15.3533 81.2017 15.7C80.4417 16.0333 79.5151 16.2 78.4217 16.2C76.8217 16.2 75.6751 15.94 74.9817 15.42C74.3017 14.8867 73.9617 14.1 73.9617 13.06C73.9617 11.94 74.4417 11.12 75.4017 10.6C76.3751 10.08 77.9284 9.82 80.0617 9.82C80.7551 9.82 81.5817 9.88 82.5417 10V9.74C82.5417 9.44667 82.3551 9.22667 81.9817 9.08C81.6217 8.93333 80.9484 8.86 79.9617 8.86C78.2817 8.86 76.7151 9.14 75.2617 9.7V6.36C77.1551 5.78667 79.0551 5.5 80.9617 5.5C83.1884 5.5 84.7951 5.82 85.7817 6.46C86.7684 7.08667 87.2617 8.2 87.2617 9.8Z"
              fill="white"
            />
          </svg>
          <div class="copyright">2021 Stigma</div>
        </div>
        <div class="right">
          <div class="title">Вход</div>
          <form @submit.prevent="login">
            <div class="item">
              <label>Логин</label>
              <input
                type="text"
                name="username"
                v-model="username"
                placeholder="Логин"
              />
            </div>
            <div class="item item-password no-margin">
              <label>Пароль</label>
              <input
                :type="password_type"
                name="password"
                v-model="password"
                placeholder="Пароль"
              />
              <div @click="togglePassword" class="toggle-password">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0)">
                    <mask id="path-1-inside-1" fill="white">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12 17.5385C18.6274 17.5385 24 12 24 12C24 12 18.6274 6.46153 12 6.46153C5.37258 6.46153 0 12 0 12C0 12 5.37258 17.5385 12 17.5385ZM12 16.6154C14.549 16.6154 16.6154 14.549 16.6154 12C16.6154 9.45099 14.549 7.38462 12 7.38462C9.45099 7.38462 7.38462 9.45099 7.38462 12C7.38462 14.549 9.45099 16.6154 12 16.6154Z"
                      />
                    </mask>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M12 17.5385C18.6274 17.5385 24 12 24 12C24 12 18.6274 6.46153 12 6.46153C5.37258 6.46153 0 12 0 12C0 12 5.37258 17.5385 12 17.5385ZM12 16.6154C14.549 16.6154 16.6154 14.549 16.6154 12C16.6154 9.45099 14.549 7.38462 12 7.38462C9.45099 7.38462 7.38462 9.45099 7.38462 12C7.38462 14.549 9.45099 16.6154 12 16.6154Z"
                      fill="black"
                    />
                    <path
                      d="M24 12L24.7178 12.6963L25.3932 12L24.7178 11.3037L24 12ZM0 12L-0.717774 11.3037L-1.3932 12L-0.717774 12.6963L0 12ZM24 12C23.2822 11.3037 23.2824 11.3035 23.2826 11.3033C23.2826 11.3033 23.2828 11.3032 23.2828 11.3031C23.2829 11.303 23.283 11.3029 23.2829 11.303C23.2828 11.3031 23.2824 11.3035 23.2817 11.3042C23.2802 11.3057 23.2775 11.3085 23.2735 11.3126C23.2655 11.3207 23.2524 11.3338 23.2344 11.3516C23.1985 11.3872 23.1428 11.4416 23.0684 11.512C22.9197 11.653 22.6966 11.8578 22.4071 12.1053C21.8272 12.6012 20.9861 13.2639 19.9477 13.926C17.8547 15.2605 15.045 16.5385 12 16.5385V18.5385C15.5824 18.5385 18.7727 17.0471 21.0229 15.6124C22.156 14.8899 23.0723 14.1681 23.7069 13.6254C24.0246 13.3537 24.273 13.1259 24.444 12.9639C24.5295 12.8829 24.5957 12.8183 24.6416 12.7728C24.6646 12.75 24.6825 12.7321 24.6953 12.7192C24.7016 12.7128 24.7067 12.7076 24.7105 12.7038C24.7123 12.7019 24.7139 12.7003 24.7151 12.699C24.7157 12.6984 24.7162 12.6978 24.7167 12.6974C24.7169 12.6972 24.7172 12.6969 24.7173 12.6968C24.7175 12.6965 24.7178 12.6963 24 12ZM12 7.46153C15.045 7.46153 17.8547 8.73945 19.9477 10.0739C20.9861 10.7361 21.8272 11.3988 22.4071 11.8946C22.6966 12.1422 22.9197 12.347 23.0684 12.488C23.1428 12.5584 23.1985 12.6128 23.2344 12.6484C23.2524 12.6662 23.2655 12.6793 23.2735 12.6874C23.2775 12.6915 23.2802 12.6943 23.2817 12.6957C23.2824 12.6965 23.2828 12.6969 23.2829 12.697C23.283 12.697 23.2829 12.697 23.2828 12.6969C23.2828 12.6968 23.2826 12.6967 23.2826 12.6966C23.2824 12.6965 23.2822 12.6963 24 12C24.7178 11.3037 24.7175 11.3035 24.7173 11.3032C24.7172 11.3031 24.7169 11.3028 24.7167 11.3026C24.7162 11.3021 24.7157 11.3016 24.7151 11.301C24.7139 11.2997 24.7123 11.2981 24.7105 11.2962C24.7067 11.2924 24.7016 11.2872 24.6953 11.2808C24.6825 11.2679 24.6646 11.25 24.6416 11.2272C24.5957 11.1817 24.5295 11.1171 24.444 11.0361C24.273 10.8741 24.0246 10.6463 23.7069 10.3746C23.0723 9.83194 22.156 9.11007 21.0229 8.38758C18.7727 6.95284 15.5824 5.46153 12 5.46153V7.46153ZM0 12C0.717774 12.6963 0.717584 12.6965 0.717415 12.6966C0.717386 12.6967 0.717237 12.6968 0.717178 12.6969C0.717061 12.697 0.717024 12.697 0.717068 12.697C0.717155 12.6969 0.717564 12.6965 0.718294 12.6957C0.719753 12.6943 0.722493 12.6915 0.726496 12.6874C0.734505 12.6793 0.747567 12.6662 0.765557 12.6484C0.801544 12.6128 0.85721 12.5584 0.931553 12.488C1.0803 12.347 1.30343 12.1422 1.59291 11.8946C2.17276 11.3988 3.0139 10.7361 4.05234 10.0739C6.14531 8.73945 8.95502 7.46153 12 7.46153V5.46153C8.41757 5.46153 5.22727 6.95284 2.9771 8.38758C1.84397 9.11007 0.927746 9.83194 0.293134 10.3746C-0.0246216 10.6463 -0.273008 10.8741 -0.443959 11.0361C-0.529466 11.1171 -0.595698 11.1817 -0.641648 11.2272C-0.664625 11.25 -0.682541 11.2679 -0.695268 11.2808C-0.701632 11.2872 -0.706699 11.2924 -0.710455 11.2962C-0.712333 11.2981 -0.713884 11.2997 -0.715104 11.301C-0.715714 11.3016 -0.716242 11.3021 -0.716687 11.3026C-0.716909 11.3028 -0.717181 11.3031 -0.717292 11.3032C-0.717543 11.3035 -0.717774 11.3037 0 12ZM12 16.5385C8.95502 16.5385 6.14531 15.2605 4.05234 13.926C3.0139 13.2639 2.17276 12.6012 1.59291 12.1053C1.30343 11.8578 1.0803 11.653 0.931553 11.512C0.85721 11.4416 0.801544 11.3872 0.765557 11.3516C0.747567 11.3338 0.734505 11.3207 0.726496 11.3126C0.722493 11.3085 0.719753 11.3057 0.718294 11.3042C0.717564 11.3035 0.717155 11.3031 0.717068 11.303C0.717024 11.3029 0.717061 11.303 0.717178 11.3031C0.717237 11.3032 0.717386 11.3033 0.717415 11.3033C0.717584 11.3035 0.717774 11.3037 0 12C-0.717774 12.6963 -0.717543 12.6965 -0.717292 12.6968C-0.717181 12.6969 -0.716909 12.6972 -0.716687 12.6974C-0.716242 12.6978 -0.715714 12.6984 -0.715104 12.699C-0.713884 12.7003 -0.712333 12.7019 -0.710455 12.7038C-0.706699 12.7076 -0.701632 12.7128 -0.695268 12.7192C-0.682541 12.7321 -0.664625 12.75 -0.641648 12.7728C-0.595698 12.8183 -0.529466 12.8829 -0.443959 12.9639C-0.273008 13.1259 -0.0246216 13.3537 0.293134 13.6254C0.927746 14.1681 1.84397 14.8899 2.9771 15.6124C5.22727 17.0471 8.41757 18.5385 12 18.5385V16.5385ZM15.6154 12C15.6154 13.9967 13.9967 15.6154 12 15.6154V17.6154C15.1013 17.6154 17.6154 15.1013 17.6154 12H15.6154ZM12 8.38462C13.9967 8.38462 15.6154 10.0033 15.6154 12H17.6154C17.6154 8.89871 15.1013 6.38462 12 6.38462V8.38462ZM8.38461 12C8.38461 10.0033 10.0033 8.38462 12 8.38462V6.38462C8.89871 6.38462 6.38462 8.89871 6.38462 12H8.38461ZM12 15.6154C10.0033 15.6154 8.38461 13.9967 8.38461 12H6.38462C6.38462 15.1013 8.89871 17.6154 12 17.6154V15.6154Z"
                      fill="black"
                      mask="url(#path-1-inside-1)"
                    />
                    <circle
                      cx="12"
                      cy="12"
                      r="2.26923"
                      fill="black"
                      stroke="black"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0">
                      <rect width="24" height="24" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
            <div class="item item-button no-margin">
              <input type="submit" value="Войти" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      password_type: 'password',
      username: '',
      password: ''
    }
  },
  methods: {
    login() {
      this.$store
        .dispatch('login', {
          username: this.username,
          password: this.password
        })
        .then(() => {
          this.$router.push({ name: 'Catalog' })
        })
        .catch(err => {
          console.log(err);
        })
    },
    togglePassword() {
      if (this.password_type == 'password') {
        this.password_type = 'text';
      } else if (this.password_type == 'text') {
        this.password_type = 'password';
      }
    }
  }
}
</script>

<style scoped>
.auth {
  min-height: 100vh;
  background: repeating-linear-gradient(
    90deg,
    #232323,
    #232323 49.9%,
    #f8f8f8 50.1%,
    #f8f8f8 100%
  );
  padding-top: 100px;
  padding-bottom: 50px;
}
.auth-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.auth-wrapper .left {
  padding-left: 45px;
  width: 50%;
  height: calc(100vh - 150px);
  position: relative;
}
.auth-wrapper .left .copyright {
  position: absolute;
  bottom: 0;
  color: #474747;
}
.auth-wrapper .left .welcome {
  margin-top: 120px;
  color: #fff;
  font-size: 40px;
}
.auth-wrapper .right {
  padding-left: 30px;
  width: 50%;
}
.auth-wrapper .right .title {
  font-size: 40px;
  margin-bottom: 25px;
}
.auth-wrapper .right form {
  padding: 25px 65px 25px 25px;
  max-width: 490px;
  background: #ffffff;
}
.auth-wrapper .right form .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 42px;
}
.auth-wrapper .right form .item.no-margin {
  margin-bottom: 0;
}
.auth-wrapper .right form .item-button {
  justify-content: flex-end;
  margin-top: 46px;
}
.auth-wrapper .right form .item-button input {
  width: 240px;
  height: 50px;
  background: #000;
  border: none;
  padding: 0;
  color: #fff;
  cursor: pointer;
  transition: 0.2s all;
}
.auth-wrapper .right form .item-button input:hover {
  background: #333333;
  transition: 0.2s all;
}
.auth-wrapper .right form .item input[type="text"],
.auth-wrapper .right form .item input[type="password"],
.auth-wrapper .right form .item input[type="date"],
.auth-wrapper .right form .item input[type="tel"] {
  height: 42px;
  width: 230px;
  padding: 10px 14px;
  background: #f6f6f6;
  border: 1px solid #ddd;
  color: #474747;
}
.auth-wrapper .right form .item input[type="text"]::placeholder,
.auth-wrapper .right form .item input[type="password"]::placeholder,
.auth-wrapper .right form .item input[type="date"]::placeholder,
.auth-wrapper .right form .item input[type="tel"]::placeholder {
  color: #a6a6a6;
}
.auth-wrapper .right form .item .toggle-password {
  position: absolute;
  right: -40px;
  cursor: pointer;
}

@media screen and (max-width: 1368px) {
  .auth .container {
    max-width: 1000px;
  }
  .auth-wrapper .left .welcome {
    font-size: 32px;
  }
}

@media screen and (max-width: 1040px) {
  .auth {
    padding-top: 0;
    padding-bottom: 0;
    background: #f8f8f8;
  }
  .auth-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .auth-wrapper .left {
    height: 250px;
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background: #232323;
  }
  .auth-wrapper .left .copyright {
    display: none;
  }
  .auth-wrapper .left .welcome {
    font-size: 40px;
  }
  .auth-wrapper .right {
    padding-left: 0;
    padding-top: 75px;
    width: 490px;
    background: #f8f8f8;
  }
  .auth-register .auth-wrapper .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
  }
  .auth-register .auth-wrapper .left .welcome {
    margin-top: 60px;
  }
  .auth-register .auth-wrapper .right form .item-button {
    justify-content: center;
    margin-top: 42px;
  }
}

@media screen and (max-width: 500px) {
  .auth-wrapper .left {
    height: 150px;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
  }
  .auth-wrapper .left .logo {
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    margin-left: calc((100% - 330px) / 2);
  }
  .auth-wrapper .right {
    padding-top: 30px;
    width: 330px;
  }
  .auth-wrapper .right .title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .auth-wrapper .right form {
    padding: 16px 56px 16px 16px;
  }
  .auth-wrapper .right form .item {
    display: block;
    margin-bottom: 32px;
  }
  .auth-wrapper .right form .item input[type="text"],
  .auth-wrapper .right form .item input[type="password"],
  .auth-wrapper .right form .item input[type="date"],
  .auth-wrapper .right form .item input[type="tel"] {
    width: 255px;
  }
  .auth-wrapper .right form .item label {
    margin-bottom: 8px;
    display: block;
  }
  .auth-wrapper .right form .item-button {
    width: 298px;
    display: flex;
    justify-content: center;
  }
  .auth-wrapper .right form .item-button input {
    width: 255px;
  }
  .auth-wrapper .right form .item-password input[type="password"] {
    width: 210px;
  }
  .auth-wrapper .right form .item-password .toggle-password {
    bottom: 6px;
    left: unset;
    right: 2px;
  }
  .auth-register .auth-wrapper .left {
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .auth-register .auth-wrapper .left .welcome {
    margin-top: 0;
    font-size: 22px;
    width: 330px;
  }
  .auth-register .auth-wrapper .left .logo {
    display: none;
  }
  .auth-login .auth-wrapper .right form {
    padding: 24px 54px 24px 24px;
  }
  .auth-login .auth-wrapper .right form .item-button {
    width: 280px;
  }
  .auth-login .auth-wrapper .right form .item-button input {
    width: 280px;
  }
}

@media screen and (max-width: 340px) {
  .auth-wrapper .left .logo {
    margin-left: calc((100% - 310px) / 2);
  }
  .auth-wrapper .right {
    width: 310px;
  }
  .auth-wrapper .right form {
    padding: 10px 40px 10px 10px;
  }
  .auth-register .auth-wrapper .left .welcome {
    width: 310px;
  }
  .auth-wrapper .right form .item-password .toggle-password {
    right: -20px;
  }
  .auth-login .auth-wrapper .right form .item-button {
    width: 260px;
  }
  .auth-login .auth-wrapper .right form .item-button input {
    width: 260px;
  }
}
</style>