<template>
  <button type="button" @click="logout()">
        Logout
      </button>
</template>

<script>
export default {
    methods: {
        logout() {
            this.$store.dispatch('logout');
        }
    }
}
</script>

<style>

</style>