<template>
  <div>
    <V-header />
    <MobileMenu />
    <div class="orders">
      <div class="container">
        <div class="orders-wrapper">
          <div class="menu">
            <div
              class="item"
              @click="toggleOrdersTab('active')"
              :class="{ active: this.ordersTab == 'active', non_active: this.ordersTab !== 'active' }"
            >
              Текущие заказы
              <span class="count"> {{ this.activeOrders.length }} </span>
            </div>
            <div
              class="item"
              @click="toggleOrdersTab('done')"
              :class="{ active: this.ordersTab == 'done', non_active: this.ordersTab !== 'done' }"
            >
              Прошлые заказы
              <span class="count"> {{ this.doneOrders.length }} </span>
            </div>
          </div>
          <div v-if="this.ordersTab == 'active'">
            <div
              @click="goToOrder(order.id)"
              v-for="order in activeOrders"
              :key="order.id"
              class="order"
            >
              <div class="top">
                <div class="number">Заказ №{{ order.id }}</div>
                <div class="date">от {{ order.date }}</div>
                <div class="labels">
                  <div
                    v-for="event in order.order_events"
                    :key="event.id"
                    :class="[event.type, 'staus'+event.is_active]"
                    class="item"
                  >
                    {{ event.title }}
                  </div>
                </div>
                <div class="price">{{ order.summ }} ₽</div>
              </div>
              <div class="main">
                <div class="item">
                  <div class="sup">Город доставки</div>
                  <div class="text">{{ order.order_delivery.city }}</div>
                </div>
                <div class="item">
                  <div class="sup">Адрес доставки</div>
                  <div class="text">
                    {{ order.order_delivery.adress }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="this.ordersTab == 'done'" class="orders-wrapper">
            <div
              @click="goToOrder(order.id)"
              v-for="order in doneOrders"
              :key="order.id"
              class="order"
            >
              <div class="top">
                <div class="number">Заказ №{{ order.id }}</div>
                <div class="date">от {{ order.date }}</div>
                <div class="labels">
                  <div
                    v-for="event in order.order_events"
                    :key="event.id"
                    :class="[event.type, 'staus'+event.is_active]"
                    class="item"
                  >
                    {{ event.title }}
                  </div>
                </div>
                <div class="price">{{ order.summ }} ₽</div>
              </div>
              <div class="main">
                <div class="item">
                  <div class="sup">Город доставки</div>
                  <div class="text">{{ order.order_delivery.city }}</div>
                </div>
                <div class="item">
                  <div class="sup">Адрес доставки</div>
                  <div class="text">
                    {{ order.order_delivery.adress }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <V-footer />
  </div>
</template>

<script>

import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      ordersTab: 'active',
    }
  },
  computed: mapGetters(['activeOrders', 'doneOrders']),
  methods: {
    ...mapActions(['fetchOrders']),
    toggleOrdersTab(status) {
      this.ordersTab = status;
      console.log(this.ordersTab)
    },
    goToOrder(id) {
      this.$router.push({ name: 'Order', params: { id: id } })
    }
  },
  mounted() {
    this.fetchOrders();
  }
}
</script>

<style scoped>
.orders {
  min-height: calc(100vh - 115px);
}
.orders-wrapper {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 50px;
}
.orders-wrapper .menu {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.orders-wrapper .menu .item {
  position: relative;
  font-size: 28px;
  color: #a6a6a6;
  margin-right: 55px;
  cursor: pointer;
}
.orders-wrapper .menu .item .count {
  position: absolute;
  top: 0;
  width: 20px;
  right: -30px;
  color: #a6a6a6;
  font-size: 18px;
  font-weight: 500;
}
.orders-wrapper .menu .item.active {
  color: #000;
}
.orders-wrapper .menu .item.active .count {
  color: #000;
}
.orders .order {
  cursor: pointer;
  width: 100%;
  padding: 32px 24px 24px 24px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
  margin-bottom: 24px;
}
.orders .order .top {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}
.orders .order .top .number {
  font-size: 20px;
  margin-right: 24px;
}
.orders .order .top .date {
  font-size: 20px;
  margin-right: 36px;
}
.orders .order .top .labels {
  display: flex;
  align-items: center;
}
.orders .order .top .labels .item {
  padding: 12px;
  border: 1px solid #ddd;
  margin-right: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.orders .order .top .labels .item:nth-last-child(1) {
  margin-right: 0;
}
.orders .order .top .labels .item svg {
  margin-right: 8px;
}
.orders .order .top .labels .item.gray {
  color: #a6a6a6;
}
.orders .order .top .labels .item.red {
  color: #ff2e2e;
}
.orders .order .top .labels .item.orange {
  color: #ff7a00;
}
.orders .order .top .labels .item.waiting_payment {
  color: #ff2e2e;
  padding-left: 44px;
  position: relative;
}
.orders .order .top .labels .item.processing_payment {
  color: #ff7a00;
}
.orders .order .top .labels .item.waiting_payment::before {
  position: absolute;
  top: 50%;
  content: url(/images/waiting_payment.svg);
  width: 18px;
  height: 18px;
  left: 12px;
  transform: translateY(-50%);
}
.orders .order .top .labels .item.green {
  color: #00ab4f;
}
.orders .order .top .labels .item.staus0 {
  display: none;
}
.orders .order .top .price {
  margin-right: 0;
  margin-left: auto;
  font-size: 20px;
}
.orders .order .main {
  display: flex;
}
.orders .order .main .item {
  margin-right: 32px;
}
.orders .order .main .item .sup {
  color: #999;
  font-size: 14px;
  margin-bottom: 10px;
}
.orders .order .main .item .text {
  font-size: 16px;
  color: #000;
}
@media screen and (max-width: 1000px) {
  .orders-wrapper {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
  }
  .orders .order .top .labels .item {
    font-size: 14px;
    padding: 10px;
  }
}
@media screen and (max-width: 700px) {
  .orders-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .orders .order .main {
    display: none;
  }
  .orders .order .top .number {
    width: calc(100% - 150px);
    order: 1;
  }
  .orders .order .top .price {
    width: 100px;
    order: 2;
  }
  .orders .order .top .date {
    width: 100%;
    order: 3;
  }
  .orders .order .top .labels {
    width: 100%;
    order: 4;
  }
  .orders .order .top {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .orders-wrapper .menu {
    margin-bottom: 15px;
  }
  .orders-wrapper .menu .item {
    margin-right: 0;
    width: 100%;
    font-size: 22px;
  }
  .orders-wrapper .menu .item.active {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .orders-wrapper .menu .item .count {
    position: static;
    font-size: 22px;
    text-align: right;
  }
  .orders .order {
    margin-bottom: 15px;
    padding: 15px;
  }
  .orders .order .top .price {
    margin-left: unset;
    text-align: right;
  }
  .orders .order .top .date {
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
  }
  .orders .order .top .number {
    font-size: 16px;
    font-weight: 500;
    margin-right: unset;
    width: calc(100% - 100px);
  }
  .orders .order .top .labels .item {
    font-size: 10px;
  }
  .orders .order .top .price {
    font-size: 16px;
    font-weight: 500;
  }
  .orders-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .orders-wrapper .menu .item.non_active {
    position: fixed;
    bottom: 65px;
    background: #FFFFFF;
box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
height: 50px;
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
left: 0;
color: #000;
padding-left: 15px;
padding-right: 15px;
font-size: 14px;
font-weight: 500;
  }
  .orders-wrapper .menu .item.non_active .count {
    color: #000;
    font-size: 14px;
    text-align: right;
  }
}

</style>