<template>
  <div>
    <V-header />
    <MobileMenu />
    <div class="order">
      <div v-for="order in allOrders" :key="order.id" class="container">
        <div v-if="order.id == order_id" class="order-wrapper">
          <div class="sidebar">
            <router-link to="/orders" class="back">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="15.5585"
                  y="6.50555"
                  width="9"
                  height="1"
                  transform="rotate(135 15.5585 6.50555)"
                  fill="black"
                  stroke="black"
                />
                <rect
                  x="9.17578"
                  y="11.4736"
                  width="9"
                  height="1"
                  transform="rotate(45 9.17578 11.4736)"
                  fill="black"
                  stroke="black"
                />
              </svg>
              Все заказы
            </router-link>
            <div class="info">
              <div class="number">Заказ №{{order.id}}</div>
              <div class="price">{{ order.summ }} ₽</div>
            </div>
            <div class="labels">
                  <div
                    v-for="event in order.order_events"
                    :key="event.id"
                    :class="[event.type, 'staus'+event.is_active]"
                    class="item"
                  >
                    {{ event.title }}
                  </div>
                </div>
            <div @click="showMobileEvents = !showMobileEvents" :class="{ active: showMobileEvents }" class="events">
              <div class="top">
                <div class="title">События</div>
                <div class="count">{{order.order_events.length}}</div>
              </div>
              <div class="events-wrapper">
                <div v-for="event in order.order_events" :key="event.id" class="item">
                  <div class="sup">
                    <div class="date">{{event.date}}</div>
                    <div class="time">{{event.time}}</div>
                  </div>
                  <div class="text">{{event.text}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="main">
            <div class="menu">
              <div class="item" @click="goToTab('details')" :class="{'active': activeTab == 'details'}">Детали заказа</div>
              <div class="item" @click="goToTab('payment')" :class="{'active': activeTab == 'payment'}">Оплата</div>
              <div class="item" @click="goToTab('chat')" :class="{'active': activeTab == 'chat'}">Чат с менеджером</div>
            </div>
            <div class="content">
              <OrderDetails v-if="activeTab == 'details'" />
              <OrderChat v-if="activeTab == 'chat'" />
              <OrderPayment v-if="activeTab == 'payment'" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <V-footer />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

import OrderDetails from './../components/order/Details';
import OrderChat from './../components/order/Chat';
import OrderPayment from './../components/order/Payment';

export default {
  computed: mapGetters(['allOrders']),
  data() {
    return {
      order_id: this.$route.params.id,
      activeTab: 'details',
      order: null,
      showMobileEvents: false,
    }
  },
  components: {
    OrderDetails,
    OrderChat,
    OrderPayment
  },
  methods: {
    ...mapActions(['fetchOrders']),
    goToTab(tab) {
      this.activeTab = tab;
    },
    toggleEventsWrapper(e) {
      if(window.innerWidth < 800) {
        if(e.target.classList.contains('active')) {
          e.target.classList.add('active');
        } else {
          e.target.classList.remove('active');
        }
      }
    }
  },
  mounted() {
    this.fetchOrders();
  }
}
</script>

<style scoped>
.order {
  min-height: calc(100vh - 115px);
  background: #fff;
}
.order-wrapper {
  display: flex;
  padding-left: 45px;
  padding-right: 45px;
  min-height: calc(100vh - 115px);
}
.order-wrapper .sidebar {
  min-height: calc(100vh - 125px);
  padding-top: 25px;
  margin-top: 10px;
  width: 300px;
  min-width: 300px;
  padding-right: 24px;
  border-right: 1px solid #ccc;
}
.order-wrapper .sidebar .back {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #000;
}
.order-wrapper .sidebar .back:visited {
  color: #000;
}
.order-wrapper .sidebar .back svg {
  margin-right: 8px;
}
.order-wrapper .sidebar .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: #000;
  margin-top: 32px;
  margin-bottom: 16px;
}
.order-wrapper .sidebar .labels {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.order-wrapper .sidebar .labels .item {
  padding: 12px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  font-weight: 700;
  margin-right: 12px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
}
.order-wrapper .sidebar .labels .item.gray {
  color: #a6a6a6;
}
.order-wrapper .sidebar .labels .item.green {
  color: #00ab4f;
}
.order-wrapper .sidebar .labels .item.orange {
  color: #ff7a00;
}
.order-wrapper .sidebar .labels .item.red {
  color: #df0000;
}
.order-wrapper .sidebar .labels .item svg {
  margin-right: 12px;
}
.order-wrapper .sidebar .labels .item:nth-last-child(1) {
  margin-right: 0;
}
.order-wrapper .sidebar .labels .item.waiting_payment {
  color: #ff2e2e;
  padding-left: 44px;
  position: relative;
}
.order-wrapper .sidebar .labels .item.processing_payment {
  color: #ff7a00;
}
.order-wrapper .sidebar .labels .item.waiting_payment::before {
  position: absolute;
  top: 50%;
  content: url(/images/waiting_payment.svg);
  width: 18px;
  height: 18px;
  left: 12px;
  transform: translateY(-50%);
}
.order-wrapper .sidebar .labels .item.green {
  color: #00ab4f;
}
.order-wrapper .sidebar .labels .item.staus0 {
  display: none;
}
.order-wrapper .sidebar .events {
  margin-top: 32px;
}
.order-wrapper .sidebar .events .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}
.order-wrapper .sidebar .events-wrapper .item {
  margin-top: 16px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.order-wrapper .sidebar .events-wrapper .item .sup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #a6a6a6;
  font-size: 14px;
  margin-bottom: 6px;
}
.order-wrapper .sidebar .events-wrapper .item .text {
  font-size: 14px;
  color: #000;
}
.order-wrapper .main {
  width: 100%;
  min-height: calc(100vh - 115px);
}
.order-wrapper .main .menu {
  padding-top: 90px;
  padding-left: 32px;
  display: flex;
  align-items: center;
}
.order-wrapper .main .menu .item {
  cursor: pointer;
  margin-right: 40px;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 8px;
}
.order-wrapper .main .menu .item.active {
  border-bottom: 2px solid #000;
}
.order-wrapper .main .content {
  background: #f8f8f8;
  min-height: calc(100% - 120px);
}
.order-wrapper .sidebar .events.active .events-wrapper {
  display: block;
}
@media screen and (max-width: 1000px) {
  .order-wrapper .main .menu {
    padding-left: 25px;
  }
  .order-wrapper {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .order-wrapper .sidebar {
    min-height: unset;
    width: 100%;
    min-width: none;
    padding-left: 25px;
    margin-top: 0;
    padding-right: 25px;
  }
  .order-wrapper .sidebar .events {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    background: #fff;
    margin-top: 0;
    padding: 25px;
  }
  .order-wrapper .sidebar .events-wrapper {
    display: none;
  }
  .order-wrapper .main .content .details {
    padding-left: 25%;
    padding-right: 25px;
  }
  .order-wrapper .main .menu {
    padding-top: 40px;
  }
  .order-wrapper .sidebar .back {
    margin-left: -5px;
  }

}

@media screen and (max-width: 800px) {
  .order-wrapper .sidebar .events {
    bottom: 65px;
  }
  .order {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .order-wrapper .sidebar {
    padding-left: 15px;
    padding-right: 15px;
  }
  .order-wrapper .sidebar .info {
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 500;
    font-size: 16px;
  }
  .order-wrapper .sidebar .labels .item {
    font-size: 14px;
    padding: 12px;
  }
  .order-wrapper .main .menu {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    justify-content: space-between;
  }
  .order-wrapper .main .menu .item {
    margin-right: 0;
    font-size: 14px;
    font-weight: 500;
  }
}
</style>