<template>
  <div>
    <V-header />
    <MobileMenu />
    <div class="privacy">
      <div class="container">
        <div class="title">Политика конфиденциальности</div>
        <div class="privacy-block">
          1.<br /><br />
          2.<br /><br />
          3.<br /><br />
          4.
        </div>
      </div>
    </div>
    <V-footer />
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.privacy {
  min-height: calc(100vh - 115px);
  max-width: 700px;
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
}
.privacy .title {
  margin-bottom: 24px;
  font-size: 28px;
  padding-left: 32px;
}
.privacy-block {
  padding: 32px;
  color: #000;
  font-size: 18px;
  min-height: 540px;
  background: #fff;
}
@media screen and (max-width: 800px) {
  .privacy {
    max-width: unset;
    width: calc(100% - 48px);
  }
}
@media screen and (max-width: 600px) {
.privacy .title {
  font-size: 22px;
  padding-left: 0;
}
.privacy {
  width: calc(100% - 30px);
  padding-bottom: 100px;
}
}

</style>