<template>
  <div>
    <V-header/>
    <MobileMenu/>
    <div class="product">
      <div class="container">
        <div class="product-wrapper" v-if="product">
          <div class="product-left">
            <div class="name">{{ product.name }}</div>
            <div class="photo">
              <img
                  :src="currentType.photo"
                  alt=""
              />
            </div>
            <div class="description">
              <div class="title">Описание</div>
              <div class="text">{{ currentType.description }}</div>
            </div>
          </div>
          <div class="product-right">
            <div class="price">{{ getPrice() }} ₽ <span>за 1 шт.</span></div>
            <div class="types">
              <div
                  v-for="(product_type, index) in product.product_types"
                  :key="product_type.id"
                  :class="{ active: product_type.id === currentType.id }"
                  @click="setActive(product_type)"
                  class="item"
                  :data-id="product_type.id"
              >
                <div class="sup">{{ product_type.name }}</div>
                <div class="photo">
                  <img :src="product_type.photo" alt=""/>
                </div>
              </div>
            </div>
            <div class="count">
              <button>
                <img
                    src="/images/countminus.png"
                    @click.prevent="counterDown()"
                    alt=""
                />
              </button>
              <input type="number" v-model="count" @focusout="validateCount"/>
              <button>
                <img
                    src="/images/countplus.png"
                    @click.prevent="counterUp()"
                    alt=""
                />
              </button>
            </div>
            <button class="add-to-cart" @click.prevent="addToCart()">
              В корзину
            </button>
            <div class="description description-mobile">
              <div class="title">Описание</div>
              <div class="text">{{ currentType.description }}</div>
            </div>
            <div class="opt">
              <div class="title">Оптовые цены</div>
              <div class="opt-list" v-if="currentType.prices">
                <div class="opt-item">
                  <span>{{ currentType.prices[0].price }} ₽</span> при покупке до 60 шт.
                </div>
                <div class="opt-item">
                  <span>{{ currentType.prices[1].price }} ₽</span> при покупке до 120 шт.
                </div>
                <div class="opt-item">
                  <span>{{ currentType.prices[2].price }} ₽</span> при покупке от 120 шт.
                </div>
              </div>
            </div>
          </div>
          <div class="add-to-cart-wrapper">
            <button class="add-to-cart" @click.prevent="addToCart()">
              В корзину
            </button>
          </div>
        </div>
      </div>
    </div>
    <V-footer/>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';
import Product from "../services/Product";

export default {
  data() {
    return {
      product_id: this.$route.params.id,
      product: null,
      count: 1,
      activeTypeId: '',
      products: [],
      currentType: null,
    }
  },
  computed: mapGetters(['allProducts']),
  methods: {
    setActive(product) {
      this.currentType = product;
      this.count = 1;
      this.activeTypeId = product.id;
    },
    counterUp() {
      this.count++
    },
    counterDown() {
      if (this.count > 1) {
        this.count--
      }
    },
    validateCount() {
      if (this.count < 1)
        this.count = 1;
    },
    getPrice() {
      return Product.getProductPrice(this.currentType, this.count);
    },
    addToCart() {
      if (this.activeTypeId == '') {
        this.activeTypeId = this.allProducts.find(product => product.id == this.product_id).product_types[0].id;
      }
      let parentProduct = this.allProducts.find(product => product.id == this.product_id);
      let cartProduct = parentProduct.product_types.find(product_type => product_type.id == this.activeTypeId)
      cartProduct.quantity = this.count;
      this.$store.commit('addToCart', cartProduct);
      this.count = 1;
    },
    fetchProducts() {
      let that = this;
      axios
          .get('/api/products/' + that.$route.params.id)
          .then(response => {
            that.product = response.data.product;
            that.setActive(that.product.product_types[0]);
          });
    },
  },
  mounted() {
    this.fetchProducts();
  },
}
</script>

<style scoped>
.product {
  min-height: calc(100vh - 115px);
  padding-top: 70px;
}

.description-mobile {
  display: none;
}

.product-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.product-left {
  padding-left: 370px;
  padding-right: 15px;
}

.product-left .name {
  font-size: 28px;
  margin-bottom: 35px;
}

.product-left .photo {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
  margin-bottom: 60px;
}

.product-left .photo img {
  width: 260px;
}

.product-left .description .title {
  margin-bottom: 15px;
  font-size: 20px;
  display: block;
}

.product-left .description .text {
  font-size: 16px;
}

.product-right {
  padding-right: 330px;
  padding-left: 15px;
}

.product-right .price {
  margin-bottom: 35px;
  font-size: 28px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.product-right .price span {
  color: #a6a6a6;
  font-size: 16px;
  margin-left: 10px;
}

.product-right .types {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-right .types .item {
  cursor: pointer;
}

.product-right .types .item.active .photo {
  border: 1px solid #fa3131;
}

.product-right .types .item .sup {
  margin-bottom: 10px;
  font-size: 16px;
}

.product-right .types .item .photo {
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
}

.product-right .types .item .photo img {
  width: 100%;
}

.product-right .count {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.product-right .count input {
  width: 48px;
  height: 35px;
  background: #f7f7f7;
  border: 2px solid #ddd;
  margin: 0px 15px;
  color: #474747;
  text-align: center;
  font-size: 16px;
}

.product-right .count input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.product-right .count input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.product-right .count button {
  cursor: pointer;
  border: none;
  background: none;
}

.add-to-cart-wrapper {
  display: none;
}

.product-right .add-to-cart {
  border: none;
  color: #fff;
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  transition: 0.2s all;
  cursor: pointer;
}

.product-right .add-to-cart:hover {
  background: #333333;
  transition: 0.2s all;
}

.product-right .opt {
  margin-top: 60px;
}

.product-right .opt .title {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
}

.product-right .opt-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  color: #000;
}

.product-right .opt-item span {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-right: 25px;
}

.product-right .opt-item:nth-last-child(1) {
  margin-bottom: 0;
}

@media screen and (max-width: 1368px) {
  .product-right {
    padding-right: 150px;
  }

  .product-left {
    padding-left: 150px;
  }
}

@media screen and (max-width: 1000px) {
  .product-right {
    padding-right: 0;
  }

  .product-left {
    padding-left: 0;
  }
}

@media screen and (max-width: 800px) {
  .product-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .product-left {
    width: 50%;
  }

  .product-right {
    width: 50%;
  }

  .product-right .types {
    width: 100%;
  }

  .product-left .photo {
    margin-right: 0;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .add-to-cart-wrapper {
    width: calc(100% + 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: -9px;
    margin-top: 50px;
  }

  .add-to-cart {
    border: none;
    color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    transition: 0.2s all;
    cursor: pointer;
  }

  .add-to-cart:hover {
    background: #333333;
    transition: 0.2s all;
  }

  .product-left {
    width: 100%;
  }

  .product-right {
    width: 100%;
    padding-left: 0;
  }

  .product-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .description {
    display: none;
  }

  .description-mobile {
    display: block;
  }

  .product-left {
    padding-right: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }

  .product-left .photo {
    width: calc(50% - 10px);
    position: relative;
    padding-bottom: calc(50% - 10px);
    height: 0;
    margin-bottom: 0;
  }

  .product-left .photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    height: auto;
  }

  .product-left .name {
    width: calc(50% - 10px);
    font-size: 22px;
  }

  .product-right .price {
    position: absolute;
    left: calc(50% + 10px);
    top: 55px;
    font-size: 22px;
    align-items: flex-start;
  }

  .product-right .price span {
    font-size: 14px;
  }

  .product-right .types {
    margin: 50px 0;
  }

  .product-right .count {
    display: none;
  }

  .product-right .add-to-cart {
    display: none;
  }

  .product-right .opt {
    margin-top: 50px;
  }

  .product-right .description-mobile .title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 340px) {
  .product-right .types .item .photo {
    width: 90px;
    height: 90px;
  }

  .product-right .types .item .sup {
    font-size: 14px;
  }
}
</style>
