<template>
  <div class="auth auth-register">
    <div class="container">
      <div class="auth-wrapper">
        <div class="left">
          <svg
            class="logo"
            width="88"
            height="21"
            viewBox="0 0 88 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.04 15.52V11.52C1.49333 11.7333 2.2 11.9267 3.16 12.1C4.12 12.2733 5.13333 12.36 6.2 12.36C7.09333 12.36 7.71333 12.32 8.06 12.24C8.42 12.16 8.6 12.0067 8.6 11.78C8.6 11.7133 8.58667 11.66 8.56 11.62C8.54667 11.5667 8.5 11.52 8.42 11.48C8.35333 11.44 8.28 11.4133 8.2 11.4C8.13333 11.3733 8.02 11.3467 7.86 11.32C7.71333 11.28 7.56 11.2467 7.4 11.22C7.25333 11.1933 7.04667 11.1533 6.78 11.1C6.52667 11.0467 6.28 10.9933 6.04 10.94L5.36 10.8C3.72 10.48 2.54667 9.92667 1.84 9.14C1.14667 8.35333 0.8 7.44 0.8 6.4C0.8 4.86667 1.4 3.7 2.6 2.9C3.8 2.1 5.54 1.7 7.82 1.7C10.1133 1.7 11.96 1.92 13.36 2.36V6.28C11.7333 5.90667 10.06 5.72 8.34 5.72C7.52667 5.72 6.94667 5.76 6.6 5.84C6.26667 5.92 6.1 6.06 6.1 6.26C6.1 6.46 6.22667 6.60667 6.48 6.7C6.74667 6.79333 7.22667 6.9 7.92 7.02C8.62667 7.12667 9.22 7.24 9.7 7.36L10.44 7.54C11.24 7.72667 11.9067 7.97333 12.44 8.28C12.9867 8.57333 13.3933 8.91333 13.66 9.3C13.94 9.67333 14.1333 10.04 14.24 10.4C14.3467 10.76 14.4 11.16 14.4 11.6C14.4 13.1333 13.74 14.3 12.42 15.1C11.1133 15.9 9.26667 16.3 6.88 16.3C4.54667 16.3 2.6 16.04 1.04 15.52ZM25.7466 5.8V9.32H22.0866V10.86C22.0866 11.4867 22.2266 11.9333 22.5066 12.2C22.7866 12.4533 23.3399 12.58 24.1666 12.58C24.7266 12.58 25.2599 12.5 25.7666 12.34V15.86C24.7399 16.1533 23.6266 16.3 22.4266 16.3C20.5866 16.3 19.2799 15.98 18.5066 15.34C17.7466 14.7 17.3666 13.7333 17.3666 12.44V9.32H15.1266V5.8H17.3666V3.64L22.0866 2.24V5.8H25.7466ZM32.2025 1.14C32.6558 1.46 32.8825 1.96 32.8825 2.64C32.8825 3.32 32.6558 3.82667 32.2025 4.16C31.7625 4.48 31.0692 4.64 30.1225 4.64C28.2825 4.64 27.3625 3.97333 27.3625 2.64C27.3625 1.32 28.2758 0.66 30.1025 0.66C31.0625 0.66 31.7625 0.82 32.2025 1.14ZM32.4825 5.8V16H27.7625V5.8H32.4825ZM44.5314 7.18V5.8H49.1314V15.22C49.1314 16.0733 48.9781 16.8133 48.6714 17.44C48.3781 18.08 47.9847 18.5867 47.4914 18.96C47.0114 19.3467 46.4047 19.6533 45.6714 19.88C44.9381 20.12 44.2047 20.28 43.4714 20.36C42.7381 20.44 41.9114 20.48 40.9914 20.48C38.8981 20.48 37.1447 20.3 35.7314 19.94V16.38C37.1314 16.7667 38.6781 16.96 40.3714 16.96C41.9181 16.96 42.9781 16.78 43.5514 16.42C44.1247 16.0733 44.4114 15.5 44.4114 14.7V14.4H44.3714C44.0247 14.8533 43.4914 15.2333 42.7714 15.54C42.0514 15.8467 41.2381 16 40.3314 16C36.3181 16 34.3114 14.36 34.3114 11.08C34.3114 7.42667 36.2847 5.6 40.2314 5.6C42.1514 5.6 43.5647 6.12667 44.4714 7.18H44.5314ZM41.7714 8.92C40.0914 8.92 39.2514 9.54 39.2514 10.78C39.2514 12.0467 40.1114 12.68 41.8314 12.68C42.6581 12.68 43.2914 12.52 43.7314 12.2C44.1847 11.8667 44.4114 11.3933 44.4114 10.78C44.4114 9.54 43.5314 8.92 41.7714 8.92ZM72.2144 9.34V16H67.5344V10.72C67.5344 10.1067 67.4277 9.68667 67.2144 9.46C67.0144 9.23333 66.641 9.12 66.0944 9.12C65.401 9.12 64.8944 9.28667 64.5744 9.62C64.2544 9.94 64.0944 10.4933 64.0944 11.28V16H59.4544V10.72C59.4544 10.1067 59.3344 9.68667 59.0944 9.46C58.8677 9.23333 58.481 9.12 57.9344 9.12C57.2277 9.12 56.7344 9.28667 56.4544 9.62C56.1744 9.95333 56.0344 10.5067 56.0344 11.28V16H51.3344V5.8H55.8744V7.4H55.9344C56.401 6.72 56.961 6.25333 57.6144 6C58.2677 5.73333 59.0677 5.6 60.0144 5.6C61.9877 5.6 63.241 6.26667 63.7744 7.6C64.2944 6.82667 64.8944 6.3 65.5744 6.02C66.2544 5.74 67.101 5.6 68.1144 5.6C69.501 5.6 70.5277 5.90667 71.1944 6.52C71.8744 7.12 72.2144 8.06 72.2144 9.34ZM82.5417 12.3V12C81.8884 11.9067 81.2951 11.86 80.7617 11.86C80.0151 11.86 79.4884 11.9133 79.1817 12.02C78.8751 12.1133 78.7217 12.2733 78.7217 12.5C78.7217 12.9533 79.3151 13.18 80.5017 13.18C81.8617 13.18 82.5417 12.8867 82.5417 12.3ZM87.2617 9.8V16H82.8017V14.54H82.7417C82.4751 14.9667 81.9617 15.3533 81.2017 15.7C80.4417 16.0333 79.5151 16.2 78.4217 16.2C76.8217 16.2 75.6751 15.94 74.9817 15.42C74.3017 14.8867 73.9617 14.1 73.9617 13.06C73.9617 11.94 74.4417 11.12 75.4017 10.6C76.3751 10.08 77.9284 9.82 80.0617 9.82C80.7551 9.82 81.5817 9.88 82.5417 10V9.74C82.5417 9.44667 82.3551 9.22667 81.9817 9.08C81.6217 8.93333 80.9484 8.86 79.9617 8.86C78.2817 8.86 76.7151 9.14 75.2617 9.7V6.36C77.1551 5.78667 79.0551 5.5 80.9617 5.5C83.1884 5.5 84.7951 5.82 85.7817 6.46C86.7684 7.08667 87.2617 8.2 87.2617 9.8Z"
              fill="white"
            />
          </svg>
          <div class="welcome">Похоже, вы здесь впервые</div>
          <div class="copyright">2021 Stigma</div>
        </div>
        <div class="right">
          <div class="title">Регистрация</div>
          <form>
            <div class="item">
              <label>Имя</label>
              <input type="text" name="name" placeholder="Имя" />
            </div>
            <div class="item">
              <label>Фамилия</label>
              <input type="text" name="name" placeholder="Фамилия" />
            </div>
            <div class="item">
              <label>Отчество</label>
              <input type="text" name="name" placeholder="Отчество" />
            </div>
            <div class="item">
              <label>Дата рождения</label>
              <input type="date" name="birtday" placeholder="Дата рождения" />
            </div>
            <div class="item no-margin">
              <label>Имя</label>
              <input type="tel" name="name" placeholder="Телефон" />
            </div>
            <div class="item item-button no-margin">
              <input type="button" value="Зарегистрироваться" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.auth {
  min-height: 100vh;
  background: repeating-linear-gradient(
    90deg,
    #232323,
    #232323 49.9%,
    #f8f8f8 50.1%,
    #f8f8f8 100%
  );
  padding-top: 100px;
  padding-bottom: 50px;
}
.auth-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.auth-wrapper .left {
  padding-left: 45px;
  width: 50%;
  height: calc(100vh - 150px);
  position: relative;
}
.auth-wrapper .left .copyright {
  position: absolute;
  bottom: 0;
  color: #474747;
}
.auth-wrapper .left .welcome {
  margin-top: 120px;
  color: #fff;
  font-size: 40px;
}
.auth-wrapper .right {
  padding-left: 30px;
  width: 50%;
}
.auth-wrapper .right .title {
  font-size: 40px;
  margin-bottom: 25px;
}
.auth-wrapper .right form {
  padding: 25px 65px 25px 25px;
  max-width: 490px;
  background: #ffffff;
}
.auth-wrapper .right form .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 42px;
}
.auth-wrapper .right form .item.no-margin {
  margin-bottom: 0;
}
.auth-wrapper .right form .item-button {
  justify-content: flex-end;
  margin-top: 46px;
}
.auth-wrapper .right form .item-button input {
  width: 240px;
  height: 50px;
  background: #000;
  border: none;
  padding: 0;
  color: #fff;
  cursor: pointer;
  transition: 0.2s all;
}
.auth-wrapper .right form .item-button input:hover {
  background: #333333;
  transition: 0.2s all;
}
.auth-wrapper .right form .item input[type="text"],
.auth-wrapper .right form .item input[type="password"],
.auth-wrapper .right form .item input[type="date"],
.auth-wrapper .right form .item input[type="tel"] {
  height: 42px;
  width: 230px;
  padding: 10px 14px;
  background: #f6f6f6;
  border: 1px solid #ddd;
  color: #474747;
}
.auth-wrapper .right form .item input[type="text"]::placeholder,
.auth-wrapper .right form .item input[type="password"]::placeholder,
.auth-wrapper .right form .item input[type="date"]::placeholder,
.auth-wrapper .right form .item input[type="tel"]::placeholder {
  color: #a6a6a6;
}
.auth-wrapper .right form .item .toggle-password {
  position: absolute;
  right: -40px;
  cursor: pointer;
}

@media screen and (max-width: 1368px) {
  .auth .container {
    max-width: 1000px;
  }
  .auth-wrapper .left .welcome {
    font-size: 32px;
  }
}

@media screen and (max-width: 1040px) {
  .auth {
    padding-top: 0;
    padding-bottom: 0;
    background: #f8f8f8;
  }
  .auth-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .auth-wrapper .left {
    height: 250px;
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background: #232323;
  }
  .auth-wrapper .left .copyright {
    display: none;
  }
  .auth-wrapper .left .welcome {
    font-size: 40px;
  }
  .auth-wrapper .right {
    padding-left: 0;
    padding-top: 75px;
    padding-bottom: 75px;
    width: 490px;
    background: #f8f8f8;
  }
  .auth-register .auth-wrapper .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
  }
  .auth-register .auth-wrapper .left .welcome {
    margin-top: 60px;
  }
  .auth-register .auth-wrapper .right form .item-button {
    justify-content: center;
    margin-top: 42px;
  }
}

@media screen and (max-width: 500px) {
  .auth-wrapper .left {
    height: 150px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .auth-wrapper .left .logo {
    margin-top: 0;
    width: 330px;
    display: flex;
    justify-content: flex-start;
  }
  .auth-wrapper .right {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 330px;
  }
  .auth-wrapper .right .title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .auth-wrapper .right form {
    padding: 16px 56px 16px 16px;
  }
  .auth-wrapper .right form .item {
    display: block;
    margin-bottom: 32px;
  }
  .auth-wrapper .right form .item input[type="text"],
  .auth-wrapper .right form .item input[type="password"],
  .auth-wrapper .right form .item input[type="date"],
  .auth-wrapper .right form .item input[type="tel"] {
    width: 255px;
  }
  .auth-wrapper .right form .item label {
    margin-bottom: 8px;
    display: block;
  }
  .auth-wrapper .right form .item-button {
    width: 298px;
    display: flex;
    justify-content: center;
  }
  .auth-wrapper .right form .item-button input {
    width: 255px;
  }
  .auth-wrapper .right form .item-password input[type="password"] {
    width: 210px;
  }
  .auth-wrapper .right form .item-password .toggle-password {
    bottom: 6px;
    left: unset;
    right: 2px;
  }
  .auth-register .auth-wrapper .left {
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .auth-register .auth-wrapper .left .welcome {
    margin-top: 0;
    font-size: 22px;
    width: 330px;
  }
  .auth-register .auth-wrapper .left .logo {
    display: none;
  }
  .auth-login .auth-wrapper .right form {
    padding: 24px 54px 24px 24px;
  }
  .auth-login .auth-wrapper .right form .item-button {
    width: 280px;
  }
  .auth-login .auth-wrapper .right form .item-button input {
    width: 280px;
  }
}

@media screen and (max-width: 340px) {
  .auth-wrapper .right {
    width: 310px;
  }
  .auth-wrapper .right form {
    padding: 10px 40px 10px 10px;
  }
  .auth-register .auth-wrapper .left .welcome {
    width: 310px;
  }
  .auth-wrapper .right form .item-password .toggle-password {
    right: -20px;
  }
  .auth-login .auth-wrapper .right form .item-button {
    width: 260px;
  }
  .auth-login .auth-wrapper .right form .item-button input {
    width: 260px;
  }
}
</style>