<template>
  <div>
    <V-header />
    <MobileMenu />
    <div class="success">
      <div class="success-wrapper">
        <div class="check">
          <svg
            width="105"
            height="104"
            viewBox="0 0 105 104"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="22.4463"
              y="53.7691"
              width="38.339"
              height="12.7797"
              transform="rotate(45 22.4463 53.7691)"
              fill="#FE0002"
            />
            <rect
              x="31.4834"
              y="80.8789"
              width="76.678"
              height="12.7797"
              transform="rotate(-45 31.4834 80.8789)"
              fill="#FE0002"
            />
          </svg>
        </div>
        <div class="title">Спасибо, заказ №1231287361724 отправлен</div>
        <div class="sub">
          Скоро с вами свяжется менеджер для подтверждения заказа
        </div>
        <router-link to="/orders" class="button">
          Мои заказы
          <svg
            width="17"
            height="16"
            viewBox="0 0 17 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0)">
              <path
                d="M16.2071 7.29289C16.5976 7.68342 16.5976 8.31658 16.2071 8.70711L9.84315 15.0711C9.45262 15.4616 8.81946 15.4616 8.42893 15.0711C8.03841 14.6805 8.03841 14.0474 8.42893 13.6569L14.0858 8L8.42893 2.34315C8.03841 1.95262 8.03841 1.31946 8.42893 0.928932C8.81946 0.538408 9.45262 0.538408 9.84315 0.928932L16.2071 7.29289ZM0.5 7L15.5 7V9L0.5 9L0.5 7Z"
                fill="white"
              />
            </g>
            <defs>
              <clipPath id="clip0">
                <rect
                  width="16"
                  height="16"
                  fill="white"
                  transform="translate(0.5)"
                />
              </clipPath>
            </defs>
          </svg>
        </router-link>
      </div>
    </div>
    <V-footer />
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.success {
  min-height: calc(100vh - 115px);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.success-wrapper {
  max-width: 580px;
}
.success-wrapper .check {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #f6f6f6;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000;
}
.success-wrapper .title {
  font-size: 28px;
  color: #000;
  margin-bottom: 10px;
}
.success-wrapper .sub {
  font-size: 16px;
  margin-bottom: 40px;
}
.success-wrapper .button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s all;
}
.success-wrapper .button svg {
  margin-left: 8px;
}
.success-wrapper .button:hover {
  background: #333;
  transition: 0.2s all;
}

@media screen and (max-width: 600px) {
  .success-wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .success-wrapper .title {
    font-size: 22px;
  }
  .success-wrapper .sub {
    font-size: 14px;
  }
}
</style>