<template>
  <div class="mobile-menu">
    <router-link to="/">
      <svg
        width="18"
        height="18"
        viewBox="0 0 15 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          width="3.38854"
          height="3.38854"
          transform="matrix(-1 0 0 1 14.5 0)"
          fill="white"
        />
        <rect
          width="3.38854"
          height="3.38854"
          transform="matrix(-1 0 0 1 9.19434 0)"
          fill="white"
        />
        <rect
          width="3.38854"
          height="3.38854"
          transform="matrix(-1 0 0 1 4.11157 0)"
          fill="white"
        />
        <rect
          width="3.38854"
          height="3.38854"
          transform="matrix(-1 0 0 1 9.41724 5.30579)"
          fill="white"
        />
        <rect
          width="3.38854"
          height="3.38854"
          transform="matrix(-1 0 0 1 4.11157 5.30579)"
          fill="white"
        />
        <rect
          width="3.38854"
          height="3.38854"
          transform="matrix(-1 0 0 1 4.11157 10.6115)"
          fill="white"
        />
        <rect
          width="3.38854"
          height="3.38854"
          transform="matrix(-1 0 0 1 9.41724 10.6115)"
          fill="white"
        />
        <rect
          width="3.38854"
          height="3.38854"
          transform="matrix(-1 0 0 1 14.5 10.6115)"
          fill="white"
        />
        <rect
          width="3.38854"
          height="3.38854"
          transform="matrix(-1 0 0 1 14.5 5.30579)"
          fill="white"
        />
      </svg>
      <span>Каталог</span>
    </router-link>
    <router-link class="cart" to="/cart">
        <span>{{ getCartCount }}</span>
        Корзина
    </router-link>
    <router-link to="/orders">
      <svg
        width="18"
        height="18"
        viewBox="0 0 19 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18.5 0V4.896H17.0825V17.952H2.0975V4.896H0.679998V0H18.5ZM17.285 1.224H1.895V3.672H17.285V1.224ZM15.8675 4.896H3.3125V16.728H15.8675V4.896ZM6.1475 10.047C6.97568 10.8846 7.55525 11.5074 8.30539 12.2974L7.43211 13.1516C7.20853 12.9137 6.98218 12.6785 6.755 12.444V16.2371H5.54V12.444C5.31148 12.6792 5.08413 12.9155 4.85656 13.1516L3.98328 12.2974C4.71248 11.5182 5.51612 10.6999 6.1475 10.047Z"
          fill="white"
        />
      </svg>
      <span>Заказы</span>
    </router-link>
    <router-link to="/account" class="lk">
      <img src="/images/lk.png" alt="">
      <span>Аккаунт</span>
    </router-link>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters(['getCartCount']),
    ...mapGetters(['getUserCashback']),
  }
}
</script>
