<template>
  <div class="new-delivery">
    <div class="new-delivery-title">
      Новая доставка
    </div>
    <div class="new-delivery-city">
      <label class="label mb-2">Адрес</label>
      <vue-dadata :onChange="setAddress" token="d8e36417e6abdadb5da3a900d1405a8f4d7f10ad"></vue-dadata>
      <span @click.prevent="saveDelivery()" class="next">
        Добавить доставку
      </span>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';
import VueDadata from 'vue-dadata'

export default {
  components: {
    'vue-dadata': VueDadata
  },
  data() {
    return {
      address: '',
      addressData: {},
    };
  },
  methods: {
    ...mapActions(['addDelivery']),
    setAddress(suggestion) {
      this.address = suggestion.value;
      this.addressData = suggestion;
    },
    saveDelivery() {
      if (this.address.trim() == '') {
        this.$parent.errors.push('Укажите адрес доставки');
        return;
      }

      this.addDelivery(this.addressData);
      this.$parent.newDelivery = false;
    }
  }
}
</script>

<style scoped>
.new-delivery {
  margin-top: 30px;
  background: #fff;
  border-radius: 6px;
  padding: 35px 20px 50px 20px;
}

.new-delivery-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 35px;
}
</style>
