<template>
  <footer class="footer">
    <div class="container">
      <div class="footer-wrapper">
        <div class="footer-left">
          <router-link to="/about">О сервисе</router-link>
          <router-link to="/privacy-policy">Политика конфиденциальности</router-link>
        </div>
        <div class="footer-right">
          <div class="copyright">2021 Stigma</div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {

}
</script>